@model DeathWishCoffee.Models.ViewModels.AddNewReviewRequest
@{
    ViewData["Title"] = "Add New Review Page";
}

<div class="bg-light pt-5">
    <a href="/admin" class="btn btn-secondary mb-3">
        Back
    </a>

    <h1 class="text-center">Add New Review</h1>

    <form action="" method="post" class="bg-light pt-5 pb-5 ps-5 pe-5">
        <div class="mb-3">
            <label for="title" class="form-label">*Title:</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Title..." asp-for="Title"
                required>
        </div>

        <div class="mb-3">
            <label for="text" class="form-label">*Message:</label>
            <textarea name="text" rows="10" class="form-control" id="text" placeholder="Message..." asp-for="Text"
                required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>