@model DeathWishCoffee.Models.ViewModels.RegisterRequest
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-left bg-light mt-5 mb-5 pt-5 ps-3 pe-3">
    @* Users *@
    <div class="d-flex flex-wrap justify-content-center mb-3">
        <a class="btn m-2 btn-success d-inline-block" href="/admin/users">See All Users</a>
    </div>

    @* Products *@
    <div class="d-flex flex-wrap justify-content-center mb-3">
        <a class="btn m-2 btn-warning d-inline-block" href="/admin/products">See All Products</a>
        <a class="btn m-2 btn-info d-inline-block" href="/admin/products/add">Add New Product</a>
    </div>

    @* Review *@
    <div class="d-flex flex-wrap justify-content-center mb-3">
        <a class="btn m-2 btn-dark d-inline-block" href="/admin/reviews">See All Reviews</a>
    </div>

    @* Order History *@
    <div class="d-flex flex-wrap justify-content-center mb-3">
        <a class="btn m-2 btn-primary d-inline-block" href="/admin/orders">See All Orders</a>
    </div>
</div>