@model DeathWishCoffee.Models.ViewModels.RegisterRequest
@{
    ViewData["Title"] = "Admin Page";
}


<h1>NGUYEN ANH KHOA</h1>

<div class="d-flex flex-column justify-content-start text-left bg-light mt-5 mb-5 pt-5 ps-3 pe-3">
    @* Users *@
    <a class="btn m-2 btn-success" href="/admin/users">See All Users</a>

    @* Products *@
    <a class="btn m-2 btn-warning" href="/admin/products">See All Products</a>
    <a class="btn m-2 btn-info" href="/admin/products/add">Add New Product</a>

    @* Review *@
    <a class="btn m-2 btn-dark" href="/admin/reviews">See All Reviews</a>

    @* Order History *@
    <a class="btn m-2 btn-primary" href="/admin/orders">See All Orders</a>
</div>