@model DeathWishCoffee.Models.ViewModels.LoginRequest
@{
    ViewData["Title"] = "Login Page";
}

<div class="bg-light pt-5">
    <h1 class="text-center">Login</h1>

    <form action="" method="post" class="bg-light pt-5 pb-5 ps-5 pe-5">
        <div class="mb-3">
            <label for="email" class="form-label">*Email:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email..."
                asp-for="Email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">*Password:</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password..."
                asp-for="Password" required>
        </div>

        <a class="btn btn-link" href="/account/register">Register</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>