@model DeathWishCoffee.Models.ViewModels.RegisterRequest
@{
    ViewData["Title"] = "Register Page";
}

<div class="bg-light pt-5">
    <a href="/admin" class="btn btn-secondary mb-3">
        Back
    </a>

    <h1 class="text-center">Register</h1>

    <form action="" method="post" class="bg-light pt-5 pb-5 ps-5 pe-5" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="firstName" class="form-label">*First Name:</label>
            <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First name..."
                asp-for="FirstName" required>
        </div>
        <div class="mb-3">
            <label for="middleName" class="form-label">Middle Name:</label>
            <input name="middleName" type="text" class="form-control" id="middleName" placeholder="Middle Name..."
                asp-for="MiddleName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">*Last Name:</label>
            <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name..."
                asp-for="LastName" required>
        </div>
        <div class="mb-3 form-group">
            <label for="avatar" class="form-label">Avatar:</label>
            <input name="avatar" type="file" class="form-control" id="avatar" asp-for="Avatar">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">*Username:</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Username..."
                asp-for="Username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">*Email:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email..." asp-for="Email"
                required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">*Password:</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password..."
                asp-for="Password" required>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input name="country" type="text" class="form-control" id="country" placeholder="Country..."
                asp-for="Country">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">*Address:</label>
            <input name="address" type="text" class="form-control" id="address" placeholder="Address..."
                asp-for="Address" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">*Phone:</label>
            <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone..." asp-for="Phone"
                required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>