@{
    ViewData["Title"] = "Subscription Page";
}

<div class="text-center">
    <h1 class="display-4">Subscription</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@Html.Partial("../../components/BigTitle1.cshtml")
@Html.Partial("../../components/CardContent.cshtml")
@Html.Partial("../../components/Incentives.cshtml")
@Html.Partial("../../components/Features.cshtml")

