@{
    ViewData["Title"] = "Subscription Page";
}

<div style="padding-top: 55px"></div>
<partial name="../../components/BigTitle1.cshtml" />
<partial name="../../components/CardContent.cshtml" />
<partial name="../../components/Incentives.cshtml" />
<partial name="../../components/Features.cshtml" />
