<div class="CardContent2" id="content2">
    <div class="Cardcontent-container2">
        <ul class="content-list2">
            <li class="content-tex2">
                <div class="content-box2">
                    <div class="content-image2">
                        <img class="content-media"
                            src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_1_7f65fc1e-8b80-406b-aa3b-2dbbecc5a3dc.png?v=1678744687&width=300">
                    </div>
                    <div class="card2">
                        <div class="card-text2">
                            <h3 class="inline-heading2">
                                GUARANTEED MINIMUM PRICES TO PROTECT FARMERS
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
            <li class="content-tex2">
                <div class="content-box2">
                    <div class="content-image2">
                        <img class="content-media"
                            src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_2_4885eae4-69de-4529-ae1e-d6628770241b.png?v=1678744687&width=300">
                    </div>
                    <div class="card2">
                        <div class="card-text2">
                            <h3 class="inline-heading2">
                                SAFE AND SUSTAINABLE FARMING METHODS
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
            <li class="content-tex2">
                <div class="content-box2">
                    <div class="content-image2">
                        <img class="content-media"
                            src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_3.png?v=1678739834&width=300">
                    </div>
                    <div class="card2">
                        <div class="card-text2">
                            <h3 class="inline-heading2">
                                COMMUNITY DEVELOPMENT FUNDS IN COFFEE-GROWING REGIONS
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>