<div class="ContentBanner3__media">
  <img src="//www.deathwishcoffee.com/cdn/shop/files/The-Void-Web.jpg?v=1694026979" style="width:100%;">
  <div class="ContentBanner3__content">
    <div class="ContentBanner3__box">
      <h2 class="ContentBanner3__heading" style="color:#ffffff">
        THE VOID
      </h2>
      <div class="ContentBanner3__text">
        <p class="ContentBanner3__textphagragrap" style="color:#ffffff">Take a break from the daily grind and scroll
          killer content.</p>
      </div>
    </div>
  </div>
</div>
</div>
