<div class="ContentBanner2">
    <div class="ContentBanner2-media">
        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Subscription-Web.jpg?v=1694016039&width=1100">
    </div>
    <div class="ContentBanner2-container">
        <div class="ContentBanner2-box">
            <p class="Content-text" style="color: #ffffff">THE SOCIETY OF STRONG COFFEE</p>
            <h2 class="Banner-heading" style="color: #ffffff">SAVE 30% ON YOUR FIRST SHIPMENT</h2>
            <div class="Banner-text">
                <p class="font-heading" style="color:#ffffff">Like a secret handshake, your status in the Society of
                    Strong
                    Coffee also earns you exclusive access to subscriber-only merch, events, forums, and so much
                    more.
                    Save 30% on your first subscription
                    order and up to 25% off plus free shipping on all recurring orders.</p>
            </div>
            <div class="Banner-button" style="color: #ffffff;">
                <a href="https://huflitcoffee.azurewebsites.net/collections/coffee" class="button">START
                    SUBSCRIPTION</a>
                <a href="https://huflitcoffee.azurewebsites.net/subscription" class="button">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
