<div class="content-banner-1 sliders">
   <div class="content-banner-1__slide-track">
      <div class="content-banner-1__slide">
         <img src="~/images/content-banner-1.webp" alt="banner">
      </div>
      <div class="content-banner-1__slide">
         <img src="~/images/content-banner-1.2.webp" alt="banner">
      </div>
   </div>

   <div class="content-banner-1__slide-controls">
      <button class="content-banner-1__control-btn prev-btn">
         <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none"
            aria-hidden="true" focusable="false" class="icon icon-caret ">
            <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white" stroke-width="3"
               stroke-linecap="round"></path>
         </svg>
      </button>

      <div class="content-banner-1__controls__current-slide">
         2/2
      </div>

      <button class="content-banner-1__control-btn next-btn">
         <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none"
            aria-hidden="true" focusable="false" class="icon icon-caret ">
            <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white" stroke-width="3"
               stroke-linecap="round"></path>
         </svg>
      </button>

      <div class="content-banner-1__control-btn play-btn pause">
         <svg class="content-banner-1__control-icon--pause" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" class="icon icon-play" fill="none" viewBox="0 0 10 14">
            <path fill-rule="evenodd" clip-rule="evenodd"
               d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z"
               fill="currentColor"></path>
         </svg>
         <svg class="content-banner-1__control-icon--playing" viewBox="0 0 8 12" fill="none"
            xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
            <path
               d="M1.2 0.75C0.813401 0.75 0.5 0.985051 0.5 1.275V10.725C0.5 11.0149 0.813401 11.25 1.2 11.25C1.5866 11.25 1.9 11.0149 1.9 10.725V1.275C1.9 0.985051 1.5866 0.75 1.2 0.75Z"
               fill="currentColor"></path>
            <path
               d="M6.8 0.75C6.4134 0.75 6.1 0.985051 6.1 1.275V10.725C6.1 11.0149 6.4134 11.25 6.8 11.25C7.1866 11.25 7.5 11.0149 7.5 10.725V1.275C7.5 0.985051 7.1866 0.75 6.8 0.75Z"
               fill="currentColor"></path>
         </svg>
      </div>
   </div>
</div>