<div class="ritual-rewards">
   <div class="ritual-rewards__logo">
      <img src="~/images/lightning-logo.png" alt="logo">
   </div>
   <div class="ritual-rewards__text">
      Ritual Rewards
   </div>

   <div class="ritual-rewards__icon">
      <svg class="ritual-rewards__icon__svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
         <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
      </svg>
   </div>
</div>

<div class="ritual-rewards__panel">
   <div class="ritual-rewards__close-panel-btn">
      <svg class="ritual-rewards__close-panel-btn__svg" xmlns="http://www.w3.org/2000/svg" height="1em"
         viewBox="0 0 384 512">
         <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
      </svg>
   </div>

   <div class="ritual-rewards__panel__header">
      <div class="ritual-rewards__panel__header__logo">
         <img src="~/images/lightning-logo.png" alt="logo">
      </div>

      <div class="ritual-rewards__panel__header__back-icon">
         <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
            <path
               d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
         </svg>
      </div>

      <div class="ritual-rewards__panel__header__text">
         <span>
            0 Points
         </span>
         <span>1st Degree</span>
      </div>

      <div class="ritual-rewards__close-panel-btn sub">
         <svg class="ritual-rewards__close-panel-btn__svg" xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 384 512">
            <path
               d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
         </svg>
      </div>
   </div>

   <div class="ritual-rewards__panel__banner">
      <div class="ritual-rewards__panel__banner__content">
         <div class="ritual-rewards__panel__banner__content__logo">
            <img src="~/images/lightning-logo.png" alt="logo">
         </div>

         <h3 class="ritual-rewards__panel__banner__content__heading-secondary">Welcome to</h3>
         <h2 class="ritual-rewards__panel__banner__content__heading-primary">Ritual Rewards</h2>
      </div>

      <div class="ritual-rewards__panel__banner__overlay"></div>
   </div>

   <div class="ritual-rewards__panel__container">
      <div class="ritual-rewards__panel__card point">
         <p class="ritual-rewards__panel__card__point">0 Points</p>
         <p class="ritual-rewards__panel__card__text">Next reward</p>

         <div class="ritual-rewards__panel__card__list-item">
            <div class="ritual-rewards__panel__card__list-item__image">
               <img src="~/images/fixed-amount.svg" alt="">
            </div>
            <div class="ritual-rewards__panel__card__list-item__title">
               <span>Free Coffee</span>
               <span>400 Points</span>
            </div>
         </div>

         <div class="ritual-rewards__panel__card__list-item list way-to-earn-trigger">
            <div class="ritual-rewards__panel__card__list-item__image">
               <img src="~/images/earn-more-points.svg" alt="">
            </div>
            <div class="ritual-rewards__panel__card__list-item__title">
               <span>Ways to earn</span>
            </div>
            <div class="ritual-rewards__panel__card__list-item__icon">
               <svg class="ritual-rewards__panel__card__list-item__icon__svg" xmlns="http://www.w3.org/2000/svg"
                  height="1em" viewBox="0 0 320 512">
                  <path
                     d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
               </svg>
            </div>
         </div>

         <div class="ritual-rewards__panel__card__list-item list way-to-redeem-trigger">
            <div class="ritual-rewards__panel__card__list-item__image">
               <img src="~/images/spend-your-points.svg" alt="">
            </div>
            <div class="ritual-rewards__panel__card__list-item__title">
               <span>Ways to redeem</span>
            </div>
            <div class="ritual-rewards__panel__card__list-item__icon">
               <svg class="ritual-rewards__panel__card__list-item__icon__svg" xmlns="http://www.w3.org/2000/svg"
                  height="1em" viewBox="0 0 320 512">
                  <path
                     d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
               </svg>
            </div>
         </div>
      </div>

      <div class="ritual-rewards__panel__card referrals">
         <div class="ritual-rewards__panel__card__list-item list">
            <div class="ritual-rewards__panel__card__list-item__title">
               <span>Refer your friends</span>
               <span>0 referrals complete</span>
            </div>
            <div class="ritual-rewards__panel__card__list-item__icon">
               <svg class="ritual-rewards__panel__card__list-item__icon__svg" xmlns="http://www.w3.org/2000/svg"
                  height="1em" viewBox="0 0 320 512">
                  <path
                     d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
               </svg>
            </div>
         </div>

         <div class="ritual-rewards__panel__card__description">
            Share this URL to give your friends the reward 15% off coupon
         </div>

         <div class="ritual-rewards__panel__card__text-box-wrapper">
            <input type="text"
               value="https://i.refs.cc/8q4odjPC?smile_ref=eyJzbWlsZV9zb3VyY2UiOiJzbWlsZV91aSIsInNtaWxlX21lZGl1bSI6IiIsInNtaWxlX2NhbXBhaWduIjoicmVmZXJyYWxfcHJvZ3JhbSIsInNtaWxlX2N1c3RvbWVyX2lkIjoxODUzMDUwMDkzfQ%3D%3D"
               class="ritual-rewards__panel__card__text-box__output" />

            <div class="ritual-rewards__panel__card__text-box__copy-icon">
               <svg class="ritual-rewards__panel__card__text-box__copy-icon__svg" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                     d="M384 336H192c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16l140.1 0L400 115.9V320c0 8.8-7.2 16-16 16zM192 384H384c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1H192c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H256c35.3 0 64-28.7 64-64V416H272v32c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16H96V128H64z" />
               </svg>
            </div>
         </div>

         <div class="ritual-rewards__panel__card__sharing-options-wrapper">
            <div class="ritual-rewards__panel__card__sharing-options-item">
               <div class="ritual-rewards__panel__card__sharing-options-item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                     <path
                        d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z" />
                  </svg>
               </div>

               <span class="ritual-rewards__panel__card__sharing-options-item__text">Facebook</span>
            </div>

            <div class="ritual-rewards__panel__card__sharing-options-item">
               <div class="ritual-rewards__panel__card__sharing-options-item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                     <path
                        d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM351.3 199.3v0c0 86.7-66 186.6-186.6 186.6c-37.2 0-71.7-10.8-100.7-29.4c5.3 .6 10.4 .8 15.8 .8c30.7 0 58.9-10.4 81.4-28c-28.8-.6-53-19.5-61.3-45.5c10.1 1.5 19.2 1.5 29.6-1.2c-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3c-9-6-16.4-14.1-21.5-23.6s-7.8-20.2-7.7-31c0-12.2 3.2-23.4 8.9-33.1c32.3 39.8 80.8 65.8 135.2 68.6c-9.3-44.5 24-80.6 64-80.6c18.9 0 35.9 7.9 47.9 20.7c14.8-2.8 29-8.3 41.6-15.8c-4.9 15.2-15.2 28-28.8 36.1c13.2-1.4 26-5.1 37.8-10.2c-8.9 13.1-20.1 24.7-32.9 34c.2 2.8 .2 5.7 .2 8.5z" />
                  </svg>
               </div>

               <span class="ritual-rewards__panel__card__sharing-options-item__text">Twitter</span>
            </div>

            <div class="ritual-rewards__panel__card__sharing-options-item">
               <div class="ritual-rewards__panel__card__sharing-options-item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                     <path
                        d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                  </svg>
               </div>

               <span class="ritual-rewards__panel__card__sharing-options-item__text">Email</span>
            </div>
         </div>
      </div>

      <div class="ritual-rewards__panel__card">
         <div class="ritual-rewards__panel__card__list-item list">
            <div class="ritual-rewards__panel__card__list-item__image">
               <img src="~/images/1st-degree.png" alt="">
            </div>
            <div class="ritual-rewards__panel__card__list-item__title">
               <span>1st Degree</span>
            </div>
            <div class="ritual-rewards__panel__card__list-item__icon">
               <svg class="ritual-rewards__panel__card__list-item__icon__svg" xmlns="http://www.w3.org/2000/svg"
                  height="1em" viewBox="0 0 320 512">
                  <path
                     d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
               </svg>
            </div>
         </div>

         <div class="ritual-rewards__panel__card__description" style="margin-bottom: 8px">
            Share this URL to give your friends the reward 15% off coupon
         </div>

         <div class="ritual-rewards__panel__card__progress-bar">
            <svg viewBox="0 0 100 1" preserveAspectRatio="none" style="width: 100%; height: 8px; border-radius: 4px;">
               <path d="M 0,0.5 L 100,0.5" stroke="#46464D" stroke-width="1" fill-opacity="0"></path>
               <path d="M 0,0.5 L 100,0.5" stroke="#e71717" stroke-width="1" fill-opacity="0"
                  style="stroke-dasharray: 100, 100; stroke-dashoffset: 100;"></path>
            </svg>
         </div>
      </div>

      <div class="ritual-rewards__panel__card">
         <div class="ritual-rewards__panel__card__list-item list" style="margin-bottom: 0;">
            <div class="ritual-rewards__panel__card__list-item__image">
               <img src="~/images/history-icon.svg" alt="">
            </div>
            <div class="ritual-rewards__panel__card__list-item__title">
               <span>Your activity</span>
            </div>
            <div class="ritual-rewards__panel__card__list-item__icon">
               <svg class="ritual-rewards__panel__card__list-item__icon__svg" xmlns="http://www.w3.org/2000/svg"
                  height="1em" viewBox="0 0 320 512">
                  <path
                     d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
               </svg>
            </div>
         </div>
      </div>
   </div>

   <div class="ritual-rewards__sub-panel way-to-earn">
      <div class="ritual-rewards__sub-panel__heading">
         Ways to earn
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/order-online.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Place an order
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               1 Point for every$1 spent
            </span>
         </div>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/custom.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Added Gift Card
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               1 Point
            </span>
         </div>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/custom.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Leave Product Review
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               50 Points
            </span>
         </div>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/facebook-like.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Like on Facebook
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               50 Points
            </span>
         </div>

         <button class="ritual-rewards__sub-panel__list-item__btn">Like</button>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/twitter-follow.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Follow on Twitter
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               50 Points
            </span>
         </div>

         <button class="ritual-rewards__sub-panel__list-item__btn">Like</button>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/instagram-follow.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Follow on Instagram
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               50 Points
            </span>
         </div>

         <button class="ritual-rewards__sub-panel__list-item__btn">Like</button>
      </div>
   </div>

   <div class="ritual-rewards__sub-panel way-to-redeem">
      <div class="ritual-rewards__sub-panel__heading">
         Ways to redeem
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/fixed-amount.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Free Coffee
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               400 Points
            </span>
         </div>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/fixed-amount.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Free Hat
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               1500 Points
            </span>
         </div>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/fixed-amount.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Free Tee
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               1800 Points
            </span>
         </div>
      </div>

      <div class="ritual-rewards__sub-panel__list-item">
         <div class="ritual-rewards__sub-panel__list-item__image">
            <img src="~/images/fixed-amount.svg" alt="image">
         </div>

         <div class="ritual-rewards__sub-panel__list-item__content">
            <span class="ritual-rewards__sub-panel__list-item__title">
               Free Mug
            </span>

            <span class="ritual-rewards__sub-panel__list-item__subtitle">
               2500 Points
            </span>
         </div>
      </div>
   </div>
</div>