@{
    ViewData["Title"] = "Product Detail";
}

<div class="text-center">
    <h1 class="display-4">Product</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="../../components/ProductDetail.cshtml" />
<partial name="../../components/SplitContent2.cshtml" />
<partial name="../../components/Reviews.cshtml" />
<partial name="../../components/SearchResult.cshtml" />
