<div class="Kaccount_Main">
  <h1 style="width: 448px;height:52px;color:white;margin-bottom:35px"><strong>Create account</strong></h1>
  <form class="Kaccount_Main_form_bentrong">
    <div class="form-floating mb-3">
      <input type="name" class="form-control" placeholder="First Name" required minlength="3" maxlength="100">
      <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="name" class="form-control" placeholder="Last Name" required minlength="3" maxlength="100">
      <label for="floatingInput">Last Name</label>
    </div>

    <div class="form-floating mb-3" style="width: 500px;">
      <input type="email" class="form-control" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>

    <!-- <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
          </div> -->
    <div class="form-floating mb-3" style=" width:500px;">
      <input type="password" class="form-control" placeholder="password" required minlength="6" maxlength="100">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <div><button class="Kaccount_button">Create</button> </div>
  </form>
</div>
