<div class="BigTitle2">
    <div class="BigTitle2__title">
        FUELED BY DEATH
    </div>
    <div class="BigTitle2__suptitle">
        To some, a "death wish" may sound irresponsible, morbid, a step too far—but we believe it's the boldest sign of
        living life to the fullest. At Death Wish Coffee, we stand for the bold souls who never slow down. So get out
        there and get it done. We'll bring the coffee.
    </div>
</div>
<div id="BigTitle2_Box" class="BigTitle2">
    <div class="BigTitle2__title">
        REAP WHAT YOU SOW
    </div>
    <div id="BigTitle2_text" class="BigTitle2__suptitle">
        Death Wish Coffee follows strict grading requirements for all coffee beans to ensure quality and consistency
        from cup to cup. We source USDA Organic and Fair Trade Certified™ arabica and robusta coffee beans from India,
        Peru, and other countries throughout South and Central America. This means our coffee is made according to
        rigorous standards that protect the environment and the livelihoods of coffee farmers.
    </div>
</div>