<div class="BigTitle2">
    <div class="BigTitle2__title">
        FUELED BY DEATH
    </div>
    <div class="BigTitle2__suptitle">
        To some, a "death wish" may sound irresponsible, morbid, a step too far—but we believe it's the boldest sign of
        living life to the fullest. At Death Wish Coffee, we stand for the bold souls who never slow down. So get out
        there and get it done. We'll bring the coffee.
    </div>
</div>