<div
    class="BlogCarousel__featured-blog BlogCarousel__section-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-padding">
    <div
        class="lg:!twcss-px-[75px] !twcss-mb-[32px] title-wrapper-with-link title-wrapper--self-padded-tablet-down title-wrapper--no-top-margin">
        <h2 id="SectionHeading-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00">Recipes</h2>
        <a href="/blogs/recipes"
            class="link twcss-uppercase twcss-no-underline lg:twcss-block scroll-trigger animate--slide-in">
            View all
        </a>
    </div>

    <div
        class="lg:!twcss-px-[75px] slider-mobile-gutter slider-component-full-width slider-component-desktop scroll-trigger animate--slide-in">
        <button type="button" class="arrow" id="arrowLeft" name="previous" aria-label="Slide left"
            aria-controls="Slider-template--14566367264823__f3e2e517-938e-4201-a178-8c6fcc36b592">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
                    stroke-linecap="round"></path>
            </svg>
        </button>
        <div class="blocks">
            <ul id="Slider-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00"
                class="blog__posts articles-wrapper contains-card contains-card--article contains-card--standard grid grid--4-col-desktop grid--1-col-tablet-down slider slider--desktop slider--tablet grid--peek"
                role="list" aria-label="Slider">
                <li id="Slide-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-0"
                    class="blog__post grid__item article featured-article slider__slide scroll-trigger animate--slide-in"
                    data-cascade="" style="--animation-order: 0;">

                    <div data-link="https://www.deathwishcoffee.com/blogs/recipes/easy-to-make-vanilla-coffee-madeleines"
                        class="article-card-wrapper card-wrapper underline-links-hover">

                        <div class="
        card article-card
        card--standard

         card--media



      " style="--ratio-percent: 60.24096385542169%;">
                            <div class="card__inner  color-background-2 gradient BlogCarousel__ratio BlogCarousel__head-picture"
                                style="--ratio-percent: 60.24096385542169%;">
                                <div class="article-card__image-wrapper card__media">
                                    <div class="article-card__image media media--hover-effect">

                                        <img srcset="//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576&amp;width=1000 1000w,//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576 1440w
                " src="//www.deathwishcoffee.com/cdn/shop/articles/Lauren-Gray-Unsplash-Madeleine.jpg?v=1681410576&amp;width=533"
                                            sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt="Preparing the ingredients to make Vanilla Coffee Madeleines with Death Wish Coffee."
                                            class="motion-reduce" loading="lazy" width="1440" height="800">

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__information">
                                        <h3 class="card__heading BlogCarousel__h2">
                                            <a href="/blogs/recipes/easy-to-make-vanilla-coffee-madeleines"
                                                class="full-unstyled-link">
                                                Easy-To-Make Vanilla Coffee Madeleines
                                            </a>
                                        </h3>
                                        <div class="article-card__info caption-with-letter-spacing h5"></div>
                                        <p class="article-card__excerpt rte-width">
                                            Make These Death Wish Coffee-Inspired Vanilla Coffee Madeleines&nbsp; If
                                            you’re looking for a delicious treat but don’t want to add extra hassle to
                                            your mornings, then this Vanilla Coffee Madeleines...
                                        </p>
                                        <div class="article-card__footer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__content">
                                <div class="card__information">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="Slide-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-1"
                    class="blog__post grid__item article slider__slide scroll-trigger animate--slide-in" data-cascade=""
                    style="--animation-order: 1;">

                    <div data-link="https://www.deathwishcoffee.com/blogs/recipes/five-death-wish-coffee-espresso-recipes"
                        class="article-card-wrapper card-wrapper underline-links-hover">

                        <div class="
        card article-card
        card--standard

         card--media



      " style="--ratio-percent: 60.24096385542169%;">
                            <div class="card__inner  color-background-2 gradient BlogCarousel__ratio"
                                style="--ratio-percent: 60.24096385542169%;">
                                <div class="article-card__image-wrapper card__media">
                                    <div class="article-card__image media media--hover-effect">

                                        <img srcset="//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284&amp;width=1000 1000w,//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284 1440w
                " src="//www.deathwishcoffee.com/cdn/shop/articles/MicrosoftTeams-image_8.jpg?v=1695654284&amp;width=533"
                                            sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt="A black and red box of Dark Roast espresso capsules next to a coffee brewer"
                                            class="motion-reduce" loading="lazy" width="1440" height="800">

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__information">
                                        <h3 class="card__heading BlogCarousel__h2">
                                            <a href="/blogs/recipes/five-death-wish-coffee-espresso-recipes"
                                                class="full-unstyled-link">
                                                5 Ways to Shoot Your Shot with Death Wish Coffe...
                                            </a>
                                        </h3>
                                        <div class="article-card__info caption-with-letter-spacing h5"></div>
                                        <p class="article-card__excerpt rte-width">
                                            There's a variety of ways to shoot your shot — straight black, in a decadent
                                            drink, at a girl insanely out of your league. Wait, that's the wrong kind
                                            of...
                                        </p>
                                        <div class="article-card__footer"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li id="Slide-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-2"
                    class="blog__post grid__item article slider__slide scroll-trigger animate--slide-in" data-cascade=""
                    style="--animation-order: 2;">

                    <div data-link="https://www.deathwishcoffee.com/blogs/recipes/chocolate-hazelnut-white-russian-recipe"
                        class="article-card-wrapper card-wrapper underline-links-hover">

                        <div class="
        card article-card
        card--standard

         card--media



      " style="--ratio-percent: 60.24096385542169%;">
                            <div class="card__inner  color-background-2 gradient BlogCarousel__ratio"
                                style="--ratio-percent: 60.24096385542169%;">
                                <div class="article-card__image-wrapper card__media">
                                    <div class="article-card__image media media--hover-effect">

                                        <img srcset="//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289&amp;width=1000 1000w,//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289 1440w
                " src="//www.deathwishcoffee.com/cdn/shop/articles/post_marquee_5f19f76b2870d.jpg?v=1692712289&amp;width=533"
                                            sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt="Source: Focus Features, The Big Lebowski" class="motion-reduce"
                                            loading="lazy" width="1440" height="650">

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__information">
                                        <h3 class="card__heading BlogCarousel__h2">
                                            <a href="/blogs/recipes/chocolate-hazelnut-white-russian-recipe"
                                                class="full-unstyled-link">
                                                Chocolate Hazelnut White Russian Recipe
                                            </a>
                                        </h3>
                                        <div class="article-card__info caption-with-letter-spacing h5"></div>
                                        <p class="article-card__excerpt rte-width">
                                            Imagine a world where your two favorite things exist together in perfect
                                            harmony: coffee and alcohol. No need to imagine – today we make your dreams
                                            come true. &nbsp; This...
                                        </p>
                                        <div class="article-card__footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="Slide-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-3"
                    class="blog__post grid__item article slider__slide scroll-trigger animate--slide-in" data-cascade=""
                    style="--animation-order: 3;">

                    <div data-link="https://www.deathwishcoffee.com/blogs/recipes/frozen-irish-coffee-recipe"
                        class="article-card-wrapper card-wrapper underline-links-hover">

                        <div class="
        card article-card
        card--standard

         card--media



      " style="--ratio-percent: 60.24096385542169%;">
                            <div class="card__inner  color-background-2 gradient BlogCarousel__ratio"
                                style="--ratio-percent: 60.24096385542169%;">
                                <div class="article-card__image-wrapper card__media">
                                    <div class="article-card__image media media--hover-effect">

                                        <img srcset="//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=1000 1000w,//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=1500 1500w,//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864 3024w
                " src="//www.deathwishcoffee.com/cdn/shop/articles/angela-lo-7G3NBWYgWaQ-unsplash.jpg?v=1692715864&amp;width=533"
                                            sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt=" Featured Image Credit: Angela Lo Via Unsplash " class="motion-reduce"
                                            loading="lazy" width="3024" height="4032">

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__information">
                                        <h3 class="card__heading BlogCarousel__h2">
                                            <a href="/blogs/recipes/frozen-irish-coffee-recipe"
                                                class="full-unstyled-link">
                                                Frozen Irish Coffee Recipe
                                            </a>
                                        </h3>
                                        <div class="article-card__info caption-with-letter-spacing h5"></div>
                                        <p class="article-card__excerpt rte-width">
                                            We have a lot to thank the Irish for, with the invention of Irish Coffee
                                            being at the top of the list. Irish coffee combines two of the most
                                            influential...
                                        </p>
                                        <div class="article-card__footer"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li id="Slide-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-4"
                    class="blog__post grid__item article slider__slide scroll-trigger animate--slide-in" data-cascade=""
                    style="--animation-order: 4;">

                    <div data-link="https://www.deathwishcoffee.com/blogs/recipes/the-perfect-dark-n-stormy-cocktail-recipe"
                        class="article-card-wrapper card-wrapper underline-links-hover">

                        <div class="
        card article-card
        card--standard

         card--media



      " style="--ratio-percent: 60.24096385542169%;">
                            <div class="card__inner  color-background-2 gradient BlogCarousel__ratio"
                                style="--ratio-percent: 60.24096385542169%;">
                                <div class="article-card__image-wrapper card__media">
                                    <div class="article-card__image media media--hover-effect">

                                        <img srcset="//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879&amp;width=1000 1000w,//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879 1440w
                " src="//www.deathwishcoffee.com/cdn/shop/articles/DarkandStormy.jpg?v=1681243879&amp;width=533"
                                            sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt="A Dark and Stormy Cocktail garnished and ready to drink."
                                            class="motion-reduce" loading="lazy" width="1440" height="800">

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__information">
                                        <h3 class="card__heading BlogCarousel__h2">
                                            <a href="/blogs/recipes/the-perfect-dark-n-stormy-cocktail-recipe"
                                                class="full-unstyled-link">
                                                The Perfect Dark ‘n Stormy Cocktail Recipe
                                            </a>
                                        </h3>
                                        <div class="article-card__info caption-with-letter-spacing h5"></div>
                                        <p class="article-card__excerpt rte-width">
                                            The Dark ‘n Stormy Cocktail Recipe—With a Kick of Caffeine Over the
                                            years—centuries, in fact—rum has kept soldiers warm during times of war and
                                            sailors merry on the seas. And...
                                        </p>
                                        <div class="article-card__footer"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </li>

                <li id="Slide-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-6"
                    class="blog__post grid__item article slider__slide scroll-trigger animate--slide-in" data-cascade=""
                    style="--animation-order: 0;">

                    <div data-link="https://www.deathwishcoffee.com/blogs/recipes/polvorosas-colombian-butter-and-sugar-cookies-recipe"
                        class="article-card-wrapper card-wrapper underline-links-hover">

                        <div class="
        card article-card
        card--standard

         card--media



      " style="--ratio-percent: 60.24096385542169%;">
                            <div class="card__inner  color-background-2 gradient BlogCarousel__ratio"
                                style="--ratio-percent: 60.24096385542169%;">
                                <div class="article-card__image-wrapper card__media">
                                    <div class="article-card__image media media--hover-effect">

                                        <img srcset="//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186&amp;width=1000 1000w,//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186 1440w
                " src="//www.deathwishcoffee.com/cdn/shop/articles/Polvorosas-Blog.jpg?v=1677100186&amp;width=533"
                                            sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt="Polvorosas (Colombian Butter and Sugar Cookies)" class="motion-reduce"
                                            loading="lazy" width="1440" height="800">

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__information">
                                        <h3 class="card__heading BlogCarousel__h2">
                                            <a href="/blogs/recipes/polvorosas-colombian-butter-and-sugar-cookies-recipe"
                                                class="full-unstyled-link">
                                                Polvorosas (Colombian Butter and Sugar Cookies)...
                                            </a>
                                        </h3>
                                        <div class="article-card__info caption-with-letter-spacing h5"></div>
                                        <p class="article-card__excerpt rte-width">
                                            The Perfect Cookie To Pair With Our Colombian Coffee Who doesn’t love a
                                            delicious, fresh, right-out-of-the-oven cookie—or two or three? They’re a
                                            little piece of heavenly bliss that has the...
                                        </p>
                                        <div class="article-card__footer"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" class="arrow" id="arrowRight" name="next" aria-label="Slide right"
            aria-controls="Slider-template--14566367264823__f3e2e517-938e-4201-a178-8c6fcc36b592">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
                    stroke-linecap="round"></path>
            </svg>

        </button>
    </div>

</div>
