<div class="CardContent1" id="content1">
    <div class="Cardcontent-container1">
        <ul class="content-list1">
            <li class="content-tex1">
                <div class="content-box1">
                    <div class="content-image1">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_1_7f65fc1e-8b80-406b-aa3b-2dbbecc5a3dc.png?v=1690305221"
                            class="content1-media">
                    </div>
                    <div class="card1">
                        <div class="card-text1">
                            <h3 class="inline-heading1">BUY MORE, SAVE MORE</h3>
                            <div class="rte">
                                <p class="cardcontent-text">You’ve entered the elite realm of caffeinators. Save up to
                                    30% off
                                    subscription-eligible coffee products. The more you subscribe to, the more you save.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="content-tex1">
                <div class="content-box1">
                    <div class="content-image1">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Group_187.png?v=1690305221"
                            class="content1-media">
                    </div>
                    <div class="card1">
                        <div class="card-text1">
                            <h3 class="inline-heading1">FREE SHIPPING FOR SOCIETY MEMBERS</h3>
                            <div class="rte">
                                <p class="cardcontent-text">Shipping for all subscription orders to the Continental U.S.
                                    is on
                                    the house for our
                                    ride
                                    or dies (that’s you).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="content-tex1">
                <div class="content-box1">
                    <div class="content-image1">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Group_268.png?v=1690305221"
                            class="content1-media">
                    </div>
                    <div class="card1">
                        <div class="card-text1">
                            <h3 class="inline-heading1">FLEXIBLE SHIPMENTS</h3>
                            <div class="rte">
                                <p class="cardcontent-text">Get it when and where you want it. Shipments available every
                                    30, 60
                                    or 90 days, and
                                    you
                                    can swap or cancel whenever you please.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="content-tex1">
                <div class="content-box1">
                    <div class="content-image1">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Group_189.png?v=1690305221"
                            class="content1-media">
                    </div>
                    <div class="card1">
                        <div class="card-text1">
                            <h3 class="inline-heading1">EXCLUSIVE ACCESS</h3>
                            <div class="rte">
                                <p class="cardcontent-text">Like a secret handshake, your status in the Society of
                                    Strong
                                    Coffee earns you
                                    exclusive
                                    access to subscriber-only merch, events, forums, and so much more.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
