<div class="card">
    <div class="card-slide">
        <ul class="card-list">
            <li class="card-box">
                <div class="card-wraper">
                    <div class="media">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Pumpkin_Chai_Coffee_Ground.jpg?v=1694706745&width=750"
                            class="image">
                    </div>
                    <div class="content">
                        <h3 class="card-heading"><a href="https://www.deathwishcoffee.com/collections/coffee"></a></h3>
                    </div>
                </div>
            </li>
            <li class="card box">
                <div class="card-wraper">
                    <div class="media">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Shadow_Travel_Mug_4.jpg?v=1696521321&width=750"
                            class="image">
                    </div>
                    <div class="content">
                        <h3 class="card-heading"><a href="https://www.deathwishcoffee.com/collections/merch"></a></h3>
                    </div>
                </div>

            </li>
            <li class="card-box">
                <div class="card-wraper">
                    <div class="media">
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Gifting-Collection-Web.jpg?v=1694015910&width=750"
                            class="image">
                    </div>
                    <div class="content">
                        <h3 class="card-heading"><a href="https://www.deathwishcoffee.com/collections/gifting"></a></h3>
                    </div>
                </div>
            </li>
        </ul>
        <div class="button">
            <button class=" prev-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                    <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
                        stroke-linecap="round"></path>
                </svg>
            </button>
            <button class="next-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                    <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
                        stroke-linecap="round"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
