<div class="ContentBanner2">
    <div class="ContentBanner2-media">
        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Subscription-Web.jpg?v=1694016039&width=1100">
    </div>
    <div class="ContentBanner2-container">
        <div class="ContentBanner2-box">
            <p class="Content-text" style="color: #ffffff">THE SOCIETY OF STRONG COFFEE</p>
            <h2 class="Banner-heading" style="color: #ffffff">SAVE 30% ON YOUR FIRST SHIPMENT</h2>
            <div class="Banner-text">
                <p class="font-heading" style="color:#ffffff">Like a secret handshake, your status in the Society of
                    Strong
                    Coffee also earns you exclusive access to subscriber-only merch, events, forums, and so much
                    more.
                    Save 30% on your first subscription
                    order and up to 25% off plus free shipping on all recurring orders.</p>
            </div> <br>
            <div class="Banner-button" style="color: #ffffff;">
                <a href="/collections/coffee" class="button">START
                    SUBSCRIPTION</a>
                <a href="/subscription" class="button">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
<div class="ContentBanner2-container1">
    <div class="ContentBanner2-box1">
        <p class="Content-text1" style="color: #ffffff">THE SOCIETY OF STRONG COFFEE</p>
        <h2 class="Banner-heading1" style="color: #ffffff">SAVE 30% ON YOUR FIRST SHIPMENT</h2>
        <div class="Banner-text1">
            <p class="font-heading1" style="color:#ffffff">Like a secret handshake, your status in the Society of
                Strong
                Coffee also earns you exclusive access to subscriber-only merch, events, forums, and so much
                more.
                Save 30% on your first subscription
                order and up to 25% off plus free shipping on all recurring orders.</p>
        </div> <br>
        <div class="Banner-button1" style="color: #ffffff;">
            <a href="https://www.deathwishcoffee.com/collections/subscribe-save" class="button1">START
                SUBSCRIPTION</a>
            <a href="https://www.deathwishcoffee.com/pages/subscription" class="button1">LEARN MORE</a>
        </div>
    </div>
</div>
