<div class="ContentBanner5_Header">
    <div class="ContentBanner_Body">
        <div class="ContentBanner5_img">
            <img src="//www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp"
                alt="Death Wish Coffee Pumpkin Chai Flavored Ground Coffee"
                srcset="//www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp, //www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp, //www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp, //www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp;width=750 750w, //www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp;width=1070 1070w, //www.deathwishcoffee.com/cdn/shop/files/Coffee.jpg?v=1693232618&amp">
        </div>
        <div class="ContentBanner5_Text">
            <div id="ImageWithText_Banner5" class="Text_ContentBanner">
                <p class="Text__Banner">
                    Coffee
                </p>


                <a href="/collections/coffee" class="Banner_button">
                    Shop Coffee
                </a>
            </div>
        </div>
    </div>
</div>
