<div id="content-banner4_template" class="content-banner4_content">
    <img src="//www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Hero.png?v=1678742584" style="width:100%;">
    <div class="content-banner4_box">
        <h2 class="content-banner4__heading" style="color:#ffffff; ">
            REBELLIOUS BY NATURE
        </h2>
    </div>
</div>
