<section>
<div id="Banner-template" class="banner--content-align">
    <div class="banner__media">
      <img src="//www.deathwishcoffee.com/cdn/shop/files/The-Void-Web.jpg?v=1694026979"style="width:100%;">
    </div>
    <div class="banner__content">
    <div class="banner__box">
      <h2 class="banner__heading" style="color:#ffffff">
              THE VOID
            </h2>
              <div class="banner__text">
              <p style="color:#ffffff">Take a break from the daily grind and scroll killer content.</p>
            </div>
            </div>
  </div>
</div>
</section>
