<div class="ContentBanner2-media">
    <img src="https://www.deathwishcoffee.com/cdn/shop/files/Subscription-Web.jpg?v=1694016039&width=1100">
    <div class="ContentBanner2-container">
        <div class="ContentBanner2-box">
            <p class="Content-text" style="color: #ffffff">THE SOCIETY OF STRONG COFFEE</p>
            <h2 class="banner-heading" style="color: #ffffff">SAVE 30% ON YOUR FIRST SHIPMENT</h2>
            <div class="banner-text">
                <p class="font-heading" style="color:#ffffff">Like a secret handshake, your status in the Society of
                    Strong
                    Coffee also earns you exclusive access to subscriber-only merch, events, forums, and so much more.
                    Save 30% on your first subscription
                    order and up to 25% off plus free shipping on all recurring orders.</p>
            </div>
            <div class="banner-button">
                <a href="https://www.deathwishcoffee.com/collections/subscribe-save" class="button"
                    style="color:#fff">START SUBCRIPTION</a>
                <a href="https://www.deathwishcoffee.com/pages/subscription" class="button" style="color:#fff">LEARN
                    MORE</a>
            </div>
        </div>
    </div>
</div>
