<div id="content-banner4_template" class="content-banner4_content">
    <img src="~/images/Death-Wish-About-Hero.webp" style="width:100%;">
    <div class="content-banner4_box">
        <h2 class="content-banner4__heading" style="color:#ffffff; ">
            REBELLIOUS BY NATURE
        </h2>
    </div>
</div>
