<div class="features">
    <h2 class="features-heading" style="color:#ffffff">RITUAL REWARDS PROGRAM</h2>
    <div class="features-text" style="color:#ffffff">
        <p>
            Turn your coffee cravings into real rewards. Move up the ranks by earning points every time you shop, share
            or declare your devotion to Death Wish  Coffee. Reap your rewards (literally) and redeem points for
            exclusive
            merchandise and more.
        </p>
    </div>
    <div class="features-table">
        <table class="features-table-custom">
            <tr class="row-title">
                <div class="main-col-1"> 
                    <th></th>
                </div>
                <div class="main-col-2">
                    <th>1ST DEGREE</th>
                </div>
                <div class="main-col-3">
                    <th>2ND DEGREE</th>
                </div>
                <div class="main-col-4">
                    <th>3RD DEGREE</th>
                </div>
            </tr>
            <tr class="row-subtitle">
                <div class="main-col-1">
                    <th>POINTS STRUCTURE</th>
                </div>
                <div class="main-col-2">
                    <th></th>
                </div>
                <div class="main-col-3">
                    <th></th>
                </div>
                <div class="main-col-4">
                    <th></th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Points held</th>
                </div>
                <div class="main-col-2">
                    <th>0-600</th>
                </div>
                <div class="main-col-3">
                    <th>601-1000</th>
                </div>
                <div class="main-col-4">
                    <th>1001+</th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Point value (purchase-based)</th>
                </div>
                <div class="main-col-2">
                    <th>$1 = 1 PT</th>
                </div>
                <div class="main-col-3">
                    <th>$1 = 3 PTS</th>
                </div>
                <div class="main-col-4">
                    <th>$1 = 5 PTS</th>
                </div>
            </tr>
            <tr class="row-subtitle">
                <div class="main-col-1">
                    <th>POINTS STRUCTURE</th>
                </div>
                <div class="main-col-2">
                    <th></th>
                </div>
                <div class="main-col-3">
                    <th></th>
                </div>
                <div class="main-col-4">
                    <th></th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Leave a review</th>
                </div>
                <div class="main-col-2">
                    <th>+50</th>
                </div>
                <div class="main-col-3">
                    <th>+50</th>
                </div>
                <div class="main-col-4">
                    <th>+50</th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Show the love on social</th>
                </div>
                <div class="main-col-2">
                    <th>+50</th>
                </div>
                <div class="main-col-3">
                    <th>+50</th>
                </div>
                <div class="main-col-4">
                    <th>+50</th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Send a gift card</th>
                </div>
                <div class="main-col-2">
                    <th>+75</th>
                </div>
                <div class="main-col-3">
                    <th>+75</th>
                </div>
                <div class="main-col-4">
                    <th>+75</th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Indoctrinate others (referral) </th>
                </div>
                <div class="main-col-2">
                    <th>+200</th>
                </div>
                <div class="main-col-3">
                    <th>+200</th>
                </div>
                <div class="main-col-4">
                    <th>+200</th>
                </div>
            </tr>
            <tr class="row-subtitle">
                <div class="main-col-1">
                    <th>JUST BECAUSE</th>
                </div>
                <div class="main-col-2">
                    <th></th>
                </div>
                <div class="main-col-3">
                    <th></th>
                </div>
                <div class="main-col-4">
                    <th></th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Welcome patch</th>
                </div>
                <div class="main-col-2">
                    <th><svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927"></path>
                            <svg />
                    </th>
                </div>
                <div class="main-col-3">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
                <div class="main-col-4">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Birthday gift</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
                <div class="main-col-3">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
                <div class="main-col-4">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Games & giveaways</th>
                </div>
                <div class="main-col-2">
                    <th></th>
                </div>
                <div class="main-col-3">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
                <div class="main-col-4">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Early access to sales</th>
                </div>
                <div class="main-col-2">
                    <th></th>
                </div>
                <div class="main-col-3">
                    <th></th>
                </div>
                <div class="main-col-4">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Double points days</th>
                </div>
                <div class="main-col-2">
                    <th></th>
                </div>
                <div class="main-col-3">
                    <th></th>
                </div>
                <div class="main-col-4">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
        </table>
    </div>
    <h2 class="features-heading" style="color:#ffffff">SOCIETY MEMBER-ONLY REWARDS</h2>
    <div class="features-text" style="color:#ffffff">
        <p>All can climb the ranks of rewards, but only Society of Strong Coffee Members receive these special perks.
            Subscribe and gain access to even more <br> inner-sanctum sweetness.</p>
    </div>
    <div class="features-table">
        <table class="features-table-custom">
            <tr class="row-title">
                <div class="main-col-1">
                    <th></th>
                </div>
                <div class="main-col-2">
                    <th>SOCIETY MEMBERS</th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Subscriber feedback forum participation</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Double points days</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Early access to exclusive releases</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Private merch drops</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Up to 25% off recurring coffee orders</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
            <tr class="detail-even">
                <div class="main-col-1">
                    <th>Sampling program access</th>
                </div>
                <div class="main-col-2">
                    <th>
                        <svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.572998 21.2751C0.572998 21.2751 7.97819 29.4674 12.3501 34.7688H12.7996C12.7996 34.7688 22.7283 13.5936 37.4069 1.24397L36.9472 0.566895C36.9472 0.566895 24.2605 7.0357 10.7158 26.0964C10.7158 26.0964 6.2417 23.4304 1.09348 20.6111L0.572998 21.2751Z"
                                fill="#E02927">
                            </path>
                        </svg>
                    </th>
                </div>
            </tr>
        </table>
    </div>

</div>
