<div class="Kreset__password" style="background-color: black;color:White;padding-bottom:20px">
  <h1 class="Kreset__password__Header">Forget your password</h1>
  <p class="Kreset__password__Header__p">We will send you an email to reset your password</p>
  <div>
    <form class="Kreset__password__form">
      <div class="form-floating" style="color: black; text-align:left">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email</label>
      </div>
      <div class="Kreset__password__form__divbutton d-flex justify-content-center pt-3">
        <button class="Kreset__password__form__divbutton__button">Submit</button>
      </div>
      <a href="https://www.deathwishcoffee.com/account/login"
        class="Kreset__password__form__cancel d-flex justify-content-center" style="color:white">
        Cancel
      </a>
    </form>
  </div>
</div>