<div class="icons_container">
   <div class="icons_box-picture">
      <div class="icons_picture">
         <img
            src="//www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_1_7f65fc1e-8b80-406b-aa3b-2dbbecc5a3dc.png?v=1678744687"
            alt="">
      </div>
      <h3 class="icons_inline-richtext">
         Guaranteed minimum prices to protect farmers
      </h3>
   </div>
   <div class="icons_box-picture">
      <div class="icons_picture">
         <img
            src="//www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_2_4885eae4-69de-4529-ae1e-d6628770241b.png?v=1678744687"
            alt="">
      </div>
      <h3 class="icons_inline-richtext">
         Safe and sustainable farming methods
      </h3>
   </div>
   <div class="icons_box-picture">
      <div class="icons_picture">
         <img src="//www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Icon_3.png?v=1678739834" alt="">
      </div>
      <h3 class="icons_inline-richtext">
         Community development funds in coffee-growing regions
      </h3>
   </div>
</div>
