<div class="Incentives">
    <div class="Incentives-container">
        <div class="Incentives-blocks">
            <h2 class="Incentives-heading">SAVE 30% ON YOUR FIRST ORDER</h2>
            <div class="Incentives-text">
                <p class="Incentive-fonttext">
                    As an added subscriber bonus, you’ll automatically earn extra rewards as part of our Ritual Rewards
                    program. Start your subscription and save 30% off your first recurring order, automatically applied
                    at checkout.
                </p>
            </div>
            <div class="Incentives-button">
                <a href="/collections/coffee" class="Incentives__button button">START
                    SUBSCRIPTION</a>
                <a href="/account/login" class="Incentives__button button">SUBSCRIBER
                    LOGIN</a>
            </div> <br>
            <div class="Incentives-text">
                <p class="Incentive-fonttext">
                    Not quite ready to become a Society of Strong Coffee subscriber? You can still join our Ritual
                    Rewards Program to earn points. Find out more below.
                </p>
            </div>
        </div>
    </div>
</div>
