<div class="JohnFollowing" id="JohnFollowing">
    <div class="container">
        <h2 class="Join-heading">JOIN THE FOLLOWING</h2>
        <a href="#JohnFollowing" title="@@DEATHWISHCOOFEE">
            <h3 class="heading" style="margin: 0;">@@DEATHWISHCOFFEE</h3>
        </a><br>
        <div class="glider-container">
            <div class="list">
                <div class="slide"><a href="https://www.instagram.com/p/CyLxuyQLT03/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Costco-Homepage.jpg?v=1696875669&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://www.instagram.com/p/CyEHxQXLPuI/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Vlad-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://www.instagram.com/p/CyGjfXDLuDz/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Fortune-Teller-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://www.instagram.com/p/CxFy9v6rBk7/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Shut-up-Monday-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://www.instagram.com/deathwishcoffee/?img_index=1">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Espresso-Capsule-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="Sliderprevous-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
        <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
            stroke-linecap="round"></path>
    </svg>
</button>
<button class="Slidernext-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
        <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
            stroke-linecap="round"></path>
    </svg>
</button>
