<div class="JohnFollowing" id="JohnFollowing">
    <div class="JoinFollowing-container">
        <h2 class="Join-heading">JOIN THE FOLLOWING</h2>
        <a href="#JohnFollowing" title="@@DEATHWISHCOOFEE">
            <h3 class="heading" style="margin: 0;">@@DEATHWISHCOFFEE</h3>
        </a><br>
        <div class="glider-container">
            <div class="list">
                <div class="slide"><a href="https://huflitcoffee.azurewebsites.net/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Costco-Homepage.jpg?v=1696875669&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://huflitcoffee.azurewebsites.net/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Vlad-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://huflitcoffee.azurewebsites.net/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Fortune-Teller-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://huflitcoffee.azurewebsites.net/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Shut-up-Monday-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
                <div class="slide"><a href="https://huflitcoffee.azurewebsites.net/">
                        <div class="image">
                            <img src="https://www.deathwishcoffee.com/cdn/shop/files/Espresso-Capsule-Homepage.jpg?v=1696875670&width=720"
                                class="media">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="Sliderprevous-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
        <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
            stroke-linecap="round"></path>
    </svg>
</button>
<button class="Slidernext-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
        <path d="M11.4844 18.4852L2.99909 9.99995L11.4844 1.51467" stroke="#E12727" stroke-width="3"
            stroke-linecap="round"></path>
    </svg>
</button>
<script>

    // Lấy danh sách các mục trong slider và các nút điều hướng
    const slides = document.querySelectorAll('.slide')
    const prevButton = document.querySelector('.Sliderprevous-button')
    const nextButton = document.querySelector('.Slidernext-button')

    // Đánh dấu mục hiện tại và biến kiểm tra đã đến cuối danh sách
    let currentSlide = 0
    let reachedEnd = false


    // Hàm hiển thị slide hiện tại
    function showSlide() {
        slides.forEach((slide, index) => {
            if (index === currentSlide) {
                slide.style.display = 'block'
            } else {
                slide.style.display = 'none'
            }
        })
    }

    // Hàm xử lý chuyển slide
    function changeSlide(direction) {
        if (direction === 'prev') {
            // Xử lý chuyển đổi slide trước đó
            if (currentSlide === 0) {
                if (reachedEnd) {
                    // Đang ở slide cuối, không cho phép tiến
                    return
                } else {
                    // Đã quay lại đầu sau khi ở slide cuối
                    reachedEnd = true
                }
            } else {
                currentSlide-- // Tiến lại 1 slide
            }
        } else if (direction === 'next') {
            // Xử lý chuyển đổi slide kế tiếp
            if (currentSlide === slides.length - 1) {
                if (reachedEnd) {
                    // Đang ở slide cuối, không cho phép lùi
                    return
                } else {
                    // Đã quay lại đầu sau khi ở slide đầu
                    reachedEnd = true
                }
            } else {
                currentSlide++ // Tiến lên 1 slide
            }
        }
        // Hiển thị slide mới
        showSlide()
    }

    // Kiểm tra kích thước màn hình và thực hiện code chỉ khi kích thước nhỏ hơn 990px
    if (window.innerWidth > 990) {
        // Xử lý sự kiện click cho nút prevButton
        prevButton.addEventListener('click', () => {
            changeSlide('prev')
        })
        // Xử lý sự kiện click cho nút nextButton
        nextButton.addEventListener('click', () => {
            changeSlide('next')
        })
    }


</script>