@model DeathWishCoffee.Models.ViewModels.LoginRequest
@{

}

<div class="Klogin" style="color: black;background-color:black;">
   <h1 class="Klogin__login"><strong class="Klogin__login__strong">Login</strong></h1>
   <div class="Klogin_error-message" id="Klogin_error-message" style="color:white"></div>

   <form action="/account/login" method="post" class="Klogin__divtong">
      <div class="form-floating mb-3" style="width: 100%;color:black">
         <input asp-for="Email" name="email" type="email" class="form-control iput" id="floatingInput"
            placeholder="name@example.com" required>
         <label for="floatingInput" style="text-align: left;">Email</label>
      </div>

      <div class="form-floating mb-3" style=" width:100%;color:black">
         <input asp-for="Password" name="password" type="password" class="form-control iput" id="floatingPassword"
            placeholder="password" required minlength="6" maxlength="100">
         <label for="floatingPassword" style="text-align: left;">Password</label>
         <a href="/account/forget-password" class="Kloin_forgot">Forgot your password?</a>
      </div>

      <br>

      <div class="Klogin_Signin" class="Klogin_signin1">
         <button type="submit">Sign in</button>
      </div>
      <a href="/account/register" class="Klogin_Create_account">Create account</a>
   </form>
