<h1>Products</h1>
<div class="Products__section-template-14567496974391-product-grid-padding">
    <div class="Products__facets-wrapper-page-width" id="Products__main-collection-filters">
        <nav class="Products__breadcrumb-twcss-font-fenomen-twcss-flex-wrap-twcss-items-center" role="navigation"
            aria-label="breadcrumbs">
            <a class="Products__twcss-font-fenomen" href="/" title="Homepage">Homepage</a>
            <span aria-hidden="true" class="twcss-px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                    <path d="M1 1.27271L5 5.99998L1 10.7273" stroke="white"></path>
                </svg>
            </span>
            <span>Merch</span>
        </nav>
        <div class="Products__facets-container-scroll-trigger-animate-fade-in">
            <div id="Products__FacetsWrapperDesktop" class="Products__facets-wrapper">
                <h2 class="Products__twcss-font-fenomenBold" id="Products__verticalTitle">
                    Filter:
                </h2>
            </div>
            <div class="Products__ads-button" onclick="toggleModal()">
                <span class="Products__twcss-text-body-16-twcss-font-fenomen">Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="15" viewBox="0 0 21 14" fill="none"
                    aria-hidden="true" focusable="false" class="Products__icon-icon-caret ">
                    <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white" stroke-width="3"
                        stroke-linecap="round"></path>
                </svg>
            </div>

            <!-- Modal -->

            <div id="Facet-1-template--14567496974391__product-grid" class="parent-display-facets-display">
                <div class="facets__header">
                    <span class="facets__selected no-js-hidden">0 selected</span>
                    <facet-remove>
                        <a href="/collections/merch" class="Products__facets-reset-link-underlined-link" role="button">
                            Reset
                        </a>
                    </facet-remove>
                </div>
                <fieldset class="facets-wrap parent-wrap ">
                    <legend class="visually-hidden">Type</legend>
                    <ul class=" Products__facets-list-list-unstyled-no-js-hidden" role="list">
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-1" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Accessories"
                                    id="Filter-filter.p.product_type-1" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Accessories (7)</span>
                                <span class="visually-hidden">Accessories (7 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-2" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Apparel"
                                    id="Filter-filter.p.product_type-2" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Apparel (23)</span>
                                <span class="visually-hidden">Apparel (23 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-3" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Gift Card"
                                    id="Filter-filter.p.product_type-3" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Gift Card (1)</span>
                                <span class="visually-hidden">Gift Card (1 product)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-4" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Mugs"
                                    id="Filter-filter.p.product_type-4" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Mugs (3)</span>
                                <span class="visually-hidden">Mugs (3 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-5" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="On-The-Go Drinkware"
                                    id="Filter-filter.p.product_type-5" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">On-The-Go Drinkware (6)</span>
                                <span class="visually-hidden">On-The-Go Drinkware (6 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-6" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Storage &amp; Brewing"
                                    id="Filter-filter.p.product_type-6" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Storage &amp; Brewing (5)</span>
                                <span class="visually-hidden">Storage &amp; Brewing (5 products)</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="Products__facet-filters-sorting-caption">
                <div class="Products__facet-filters-field">
                    <h2 class="facet-filters__label caption-large text-body twcss-font-fenomenBold twcss-uppercase">
                        <label
                            class="Products__facet-filters-label-caption-large-text-body-twcss-font-fenomenBold-twcss-uppercase-label"
                            for="SortBy">Sort by:</label>
                    </h2>
                    <div class="select">
                        <select name="sort_by"
                            class="Products__facet-filters-sort-select-select-caption-large-twcss-text-body-16-twcss-font-fenomen"
                            id="SortBy" aria-describedby="a11y-refresh-page-message">
                            <option value="manual" selected="selected">Featured</option>
                            <option value="best-selling">Best selling</option>
                            <option value="title-ascending">Alphabetically, A-Z</option>
                            <option value="title-descending">Alphabetically, Z-A</option>
                            <option value="price-ascending">Price, low to high</option>
                            <option value="price-descending">Price, high to low</option>
                            <option value="created-ascending">Date, old to new</option>
                            <option value="created-descending">Date, new to old</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="Products__product-count" role="status">
                <h2 class="product-count__text text-body">
                    <span id="ProductCountDesktop" class="Products__twcss-font-fenomen-twcss-capitalize">45 products
                    </span>
                </h2>
            </div>
        </div>
    </div>
    <div class="Products__collection-page-width">
        <ul class="items-list">
            <!-- Sử dụng JavaScript để thêm 72 mục -->
            <li class="grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 1;"
                data-link="https://www.deathwishcoffee.com/products/black-logo-hoodie-1">
                <div class="card-wrapper product-card-wrapper underline-links-hover">
                    <div class="Products__card Products__card-standard Products__card-media
                            " style="--ratio-percent: 100%;">
                        <div class="card__inner color-background-2 gradient Products__ratio"
                            style="--ratio-percent: 100%;">
                            <div class="card__media">
                                <div class="media media--transparent media--hover-effect">
                                    <img srcset="//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=165 165w,//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=360 360w,//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=533 533w,//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=720 720w,//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=940 940w,//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=1066 1066w,//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928 1500w"
                                        src="//www.deathwishcoffee.com/cdn/shop/files/Shadow_Logo_Hoodie_1.jpg?v=1696518928&amp;width=533"
                                        sizes="(min-width: 1600px) 367px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt="Death Wish Coffee Shadow Logo Hoodie - Front" class="motion-reduce"
                                        width="1500" height="1500">
                                </div>
                            </div>
                            <div class="card__content">
                                <div class="card__information">
                                    <h3 class="card__heading h5"
                                        id="title-template--14567496974391__product-grid-6788490199095">
                                        <a href="/products/black-logo-hoodie-1"
                                            id="CardLink-template--14567496974391__product-grid-6788490199095"
                                            class="twcss-font-fenomenBold twcss-font-bold twcss-text-body-14 twcss-uppercase"
                                            aria-labelledby="CardLink-template--14567496974391__product-grid-6788490199095 Badge-template--14567496974391__product-grid-6788490199095">
                                            Shadow Logo Hoodie
                                        </a>
                                    </h3>
                                    <div class="card-information"><span class="caption-large light"></span>
                                        <div class="price twcss-font-fenomen twcss-text-body-16 twcss-uppercase">
                                            <div class="price__container">
                                                <div class="price__regular">
                                                    <span class="price-item price-item--regular">
                                                        $40.00
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bv-show="inline_rating" data-bv-product-id="6788490199095"
                                            data-bv-redirect-url="/products/black-logo-hoodie-1" data-bv-seo="false"
                                            data-bv-ready="true">
                                            <div><a id="6a4dfc7b-d423-46f4-b828-62abae0296e1"
                                                    href="/products/black-logo-hoodie-1"
                                                    class="bv_main_container bv_hover"
                                                    aria-label="0.0 out of 5 stars.  ">
                                                    <div class="bv_stars_component_container" aria-hidden="true">
                                                        <div class="bv_stars_button_container"><span
                                                                class="bv_stars_svg_no_wrap" aria-hidden="true"><svg
                                                                    focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                                    width="17.5px" height="17.5px" viewBox="0 0 25 25"
                                                                    style="width: 17.5px !important; height: 17.5px !important;">
                                                                    <polygon
                                                                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_0_0.00_wolJRv08Fp&quot;) !important;">
                                                                    </polygon>
                                                                    <path d=""
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_0_0.00_wolJRv08Fp&quot;) !important;">
                                                                    </path>
                                                                    <defs>
                                                                        <linearGradient
                                                                            id="bv_inline_ratings_star_filled_0_0.00_wolJRv08Fp"
                                                                            x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                            <stop offset="0%"
                                                                                style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                                            </stop>
                                                                            <stop offset="1%"
                                                                                style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                                            </stop>
                                                                        </linearGradient>
                                                                    </defs>
                                                                </svg><svg focusable="false"
                                                                    xmlns="http://www.w3.org/2000/svg" width="17.5px"
                                                                    height="17.5px" viewBox="0 0 25 25"
                                                                    style="width: 17.5px !important; height: 17.5px !important;">
                                                                    <polygon
                                                                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_1_0.00_H5yKH6tmzJ&quot;) !important;">
                                                                    </polygon>
                                                                    <path d=""
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_1_0.00_H5yKH6tmzJ&quot;) !important;">
                                                                    </path>
                                                                    <defs>
                                                                        <linearGradient
                                                                            id="bv_inline_ratings_star_filled_1_0.00_H5yKH6tmzJ"
                                                                            x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                            <stop offset="0%"
                                                                                style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                                            </stop>
                                                                            <stop offset="1%"
                                                                                style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                                            </stop>
                                                                        </linearGradient>
                                                                    </defs>
                                                                </svg><svg focusable="false"
                                                                    xmlns="http://www.w3.org/2000/svg" width="17.5px"
                                                                    height="17.5px" viewBox="0 0 25 25"
                                                                    style="width: 17.5px !important; height: 17.5px !important;">
                                                                    <polygon
                                                                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_2_0.00_AOJK69co6i&quot;) !important;">
                                                                    </polygon>
                                                                    <path d=""
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_2_0.00_AOJK69co6i&quot;) !important;">
                                                                    </path>
                                                                    <defs>
                                                                        <linearGradient
                                                                            id="bv_inline_ratings_star_filled_2_0.00_AOJK69co6i"
                                                                            x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                            <stop offset="0%"
                                                                                style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                                            </stop>
                                                                            <stop offset="1%"
                                                                                style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                                            </stop>
                                                                        </linearGradient>
                                                                    </defs>
                                                                </svg><svg focusable="false"
                                                                    xmlns="http://www.w3.org/2000/svg" width="17.5px"
                                                                    height="17.5px" viewBox="0 0 25 25"
                                                                    style="width: 17.5px !important; height: 17.5px !important;">
                                                                    <polygon
                                                                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_3_0.00_2U8UCzlaEY&quot;) !important;">
                                                                    </polygon>
                                                                    <path d=""
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_3_0.00_2U8UCzlaEY&quot;) !important;">
                                                                    </path>
                                                                    <defs>
                                                                        <linearGradient
                                                                            id="bv_inline_ratings_star_filled_3_0.00_2U8UCzlaEY"
                                                                            x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                            <stop offset="0%"
                                                                                style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                                            </stop>
                                                                            <stop offset="1%"
                                                                                style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                                            </stop>
                                                                        </linearGradient>
                                                                    </defs>
                                                                </svg><svg focusable="false"
                                                                    xmlns="http://www.w3.org/2000/svg" width="17.5px"
                                                                    height="17.5px" viewBox="0 0 25 25"
                                                                    style="width: 17.5px !important; height: 17.5px !important;">
                                                                    <polygon
                                                                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_4_0.00_k4P8HOiZo4&quot;) !important;">
                                                                    </polygon>
                                                                    <path d=""
                                                                        style="fill: url(&quot;#bv_inline_ratings_star_filled_4_0.00_k4P8HOiZo4&quot;) !important;">
                                                                    </path>
                                                                    <defs>
                                                                        <linearGradient
                                                                            id="bv_inline_ratings_star_filled_4_0.00_k4P8HOiZo4"
                                                                            x1="0.00%" y1="0%" x2="100%" y2="0%">
                                                                            <stop offset="0%"
                                                                                style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                                            </stop>
                                                                            <stop offset="1%"
                                                                                style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                                            </stop>
                                                                        </linearGradient>
                                                                    </defs>
                                                                </svg></span></div>
                                                    </div>
                                                    <div class="bv_averageRating_component_container"
                                                        aria-hidden="true">
                                                        <div class="bv_text">0.0</div>
                                                    </div>
                                                    <div class="bv_numReviews_component_container" aria-hidden="true">
                                                        <div class="bv_text">(0)</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__badge bottom left"></div>
                            </div>
                        </div>
                    </div>
            </li>

            <li> Item 5</li>
            <li> Item 6</li>
            <li> Item 7</li>
            <li> Item 8</li>
            <li> Item 9</li>
            <li> Item 10</li>
            <li> Item 11</li>
            <li> Item 12</li>
            <li> Item 13</li>
            <li> Item 14</li>
            <li> Item 15</li>
            <li> Item 16</li>
            <li> Item 17</li>
            <li> Item 18</li>
            <li> Item 19</li>
            <li> Item 20</li>
            <li> Item 21</li>
            <li> Item 22</li>
            <li> Item 23</li>
            <li> Item 24</li>
            <li> Item 25</li>
            <li> Item 26</li>
            <li> Item 27</li>
            <li> Item 28</li>
            <li> Item 29</li>
            <li> Item 30</li>
            <li> Item 31</li>
            <li> Item 32</li>
            <li> Item 33</li>
            <li> Item 34</li>
            <li> Item 35</li>
            <li> Item 36</li>
            <li> Item 37</li>
            <li> Item 38</li>
            <li> Item 39</li>
            <li> Item 40</li>
            <li> Item 41</li>
            <li> Item 42</li>
            <li> Item 43</li>
            <li> Item 44</li>
            <li> Item 45</li>
            <li> Item 46</li>
            <li> Item 47</li>
            <li> Item 48</li>
            <li> Item 49</li>
            <li> Item 50</li>
            <li> Item 51</li>
            <li> Item 52</li>
            <li> Item 53</li>
            <li> Item 54</li>
            <li> Item 55</li>
            <li> Item 56</li>
            <li> Item 57</li>
            <li> Item 58</li>
            <li> Item 59</li>
            <li> Item 60</li>
            <li> Item 61</li>
            <li> Item 62</li>
            <li> Item 63</li>
            <li> Item 64</li>
            <li> Item 65</li>
            <li> Item 66</li>
            <li> Item 67</li>
            <li> Item 68</li>
            <li> Item 69</li>
            <li> Item 70</li>
            <li> Item 71</li>
            <li> Item 72</li>
        </ul>
    </div>
    <div class="pagination">
        <!-- Thêm nút "Prev" và nút "Next" -->
        <span class="page-link prev-page-button" onclick="prevPage()">Prev</span>
        <span class="page-link" onclick="changePage(1)">1</span>
        <span class="page-link" onclick="changePage(2)">2</span>
        <span class="page-link" onclick="changePage(3)">3</span>
        <span class="page-link" onclick="nextPage()">Next</span>
    </div>
</div>
<script>
    function toggleModal() {
        const modal = document.getElementById("Facet-1-template--14567496974391__product-grid");
        modal.classList.toggle("Facet-1-template--14567496974391__product-grid-show");
    }

    // Thêm sự kiện click cho toàn bộ tài liệu (document)
    document.addEventListener("click", function (event) {
        const modal = document.getElementById("Facet-1-template--14567496974391__product-grid");

        // Kiểm tra xem sự kiện click có xảy ra bên ngoài modal và không phải là nút mở modal không
        if (!modal.contains(event.target) && !event.target.classList.contains("Products__ads-button") && !event.target.classList.contains("Products__twcss-text-body-16-twcss-font-fenomen")) {
            // Nếu click bên ngoài modal và không phải là nút mở modal, đóng modal
            modal.classList.remove("Facet-1-template--14567496974391__product-grid-show");
        }
    });

    // Sự kiện click trên chữ "Type" cũng gọi hàm toggleModal
    document.querySelector(".Products__ads-button").addEventListener("click", toggleModal);
    document.querySelector(".Products__twcss-text-body-16-twcss-font-fenomen").addEventListener("click", toggleModal);
    // Lấy thẻ chứa chữ "Type" và biểu tượng SVG
    const typeButton = document.querySelector(".Products__ads-button");
    // Thêm sự kiện click cho biểu tượng SVG
    const typeIcon = typeButton.querySelector("svg.Products__icon-icon-caret");
    typeIcon.addEventListener("click", function (event) {
        event.stopPropagation(); // Ngăn sự kiện click từ việc lan truyền lên thẻ chứa "Type"
        toggleModal(); // Gọi hàm toggleModal để mở hoặc đóng modal
    });

    let originalProductCount = 45; // Số lượng sản phẩm ban đầu
    let selectedProductCount = 0; // Số lượng sản phẩm đã chọn
    let productCountSpan = document.getElementById("ProductCountDesktop");

    function toggleCheckmark(element) {
        const checkbox = element.querySelector('input[type="checkbox"]');
        const checkmark = element.querySelector(".Products__icon-icon-checkmark");
        const labelText = element.querySelector(".visually-hidden").textContent;
        const numberMatch = labelText.match(/\d+/);

        if (checkbox.checked) {
            checkbox.checked = false; // Bỏ chọn checkbox
            checkmark.style.display = "none"; // Ẩn dấu tích
            selectedProductCount -= parseInt(numberMatch[0]);
        } else {
            checkbox.checked = true; // Chọn checkbox
            checkmark.style.display = "inline-block"; // Hiển thị dấu tích
            selectedProductCount += parseInt(numberMatch[0]);
        }

        updateProductCount();
    }

    // Hàm cập nhật số lượng sản phẩm đã chọn
    function updateProductCount() {
        if (selectedProductCount === 0) {
            productCountSpan.textContent = `${originalProductCount} products`;
        } else {
            productCountSpan.textContent = `${selectedProductCount / 2} of ${originalProductCount} products`;
        }
    }

    // Gọi hàm cập nhật số lượng sản phẩm ban đầu
    updateProductCount();
    const itemsList = document.querySelector('.items-list');
    const pageLinks = document.querySelectorAll('.page-link');
    const prevPageButton = document.querySelector('.prev-page-button'); // Thêm nút "Prev"

    const itemsPerPage = 24; // Số lượng mục trên mỗi trang
    let currentPage = 1; // Trang hiện tại

    // Hiển thị các mục cho trang cụ thể
    function displayPage(page) {
        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        const items = document.querySelectorAll('.items-list li');

        items.forEach((item, index) => {
            if (index >= startIndex && index < endIndex) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }

    // Hàm chuyển đến trang
    function changePage(page) {
        currentPage = page;
        displayPage(currentPage);
        updatePaginationButtons(); // Cập nhật trạng thái của nút "Prev" và "Next"
    }

    // Hàm chuyển đến trang kế tiếp
    function nextPage() {
        if (currentPage < pageLinks.length - 2) {
            changePage(currentPage + 1);
        }
    }

    // Hàm chuyển đến trang trước đó
    function prevPage() {
        if (currentPage > 1) {
            changePage(currentPage - 1);
        }
    }

    // Tạo 72 mục và thêm chúng vào danh sách
    for (let i = 1; i <= 72; i++) {
        const listItem = document.createElement('li');
        listItem.textContent = `Mục ${i}`;
        itemsList.appendChild(listItem);
    }

    // Ban đầu hiển thị trang đầu tiên và cập nhật trạng thái của nút "Prev" và "Next"
    displayPage(currentPage);
    updatePaginationButtons();

    // Hàm cập nhật trạng thái của nút "Prev" và "Next"
    function updatePaginationButtons() {
        if (currentPage === 1) {
            prevPageButton.style.display = 'none';
        } else {
            prevPageButton.style.display = 'block';
        }

        if (currentPage === pageLinks.length) {
            pageLinks[pageLinks.length - 1].classList.add('active');
        } else {
            pageLinks.forEach((link) => {
                link.classList.remove('active');
            });

            pageLinks[currentPage - 1].classList.add('active');
        }
    }

</script>
