<div class="Products_Section-template">
    <aside class="Products_Main-collection">
        <nav class="Products_Breadcrumb">
            <a class="twcss-font-fenomen-Homepage" href="/" title="Homepage">Homepage</a>
            <span aria-hidden="true" class="twcss-px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                    <path d="M1 1.27271L5 5.99998L1 10.7273" stroke="white"></path>
                </svg>
            </span>
            <span>Merch</span>
        </nav>
        <div class="Products_Faces-container">
            <div class="Products_FacesWrapperDestop">
                <h2 class="twcss-text-body-14 twcss-font-fenomen">FILTER:</h2>
                <details class="Products_Details-1-template">
                    <summary class="Products_Faces-Sumary-Caption">
                        <div>
                            <span class="twcss-text-body-16 twcss-font-fenomen">Type
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14"
                                fill="none" aria-hidden="true" focusable="false" class="icon icon-caret ">
                                <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white"
                                    stroke-width="3" stroke-linecap="round"></path>
                            </svg>
                        </div>
                    </summary>
                    <div class="Products_Faces-1-template-grid">
                        <div class="Products_Faces-1-template-grid-header">
                            <span class="facets__selected no-js-hidden">0 selected</span>
                            <facet-remove>
                                <a href="/collections/merch" class="Products_facets-reset-link-underlined-link"
                                    role="button">
                                    Reset
                                </a>
                            </facet-remove>
                        </div>
                        <fieldset class="Products_facest-wrap-parent-wrap">
                            <ul class="Products_facest-list-list-hidden">
                                <li class="list-menu__item facets__item">
                                    <label for="Filter-filter.p.product_type-1" class="facet-checkbox">
                                        <input type="checkbox" name="filter.p.product_type" value="Accessories"
                                            id="Filter-filter.p.product_type-1">

                                        <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true"
                                            focusable="false">
                                            <rect width="16" height="16" stroke="currentColor" fill="none"
                                                stroke-width="1"></rect>
                                        </svg>

                                        <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem"
                                            height="0.7rem" viewBox="0 0 11 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                                stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>

                                        <span aria-hidden="true">Accessories (8)</span>
                                        <span class="visually-hidden">Accessories (8 products)</span>
                                    </label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </details>
            </div>
            <div class="Products_facest-filter-sorting">
                <div class="Products_faces-filters-field">
                    <div>
                        <h2 class="Products_facet-filters__label">
                            <label for="SortBy">Sort by:</label>
                        </h2>
                    </div>
                    <div class="select">
                        <select name="sort_by"
                            class="facet-filters__sort select__select caption-large twcss-text-body-16 twcss-font-fenomen"
                            id="SortBy" aria-describedby="a11y-refresh-page-message" fdprocessedid="nymw5q">
                            <option value="manual" selected="selected">
                                Featured
                            </option>
                            <option value="best-selling">
                                Best selling
                            </option>
                            <option value="title-ascending">
                                Alphabetically, A-Z
                            </option>
                            <option value="title-descending">
                                Alphabetically, Z-A
                            </option>
                            <option value="price-ascending">
                                Price, low to high
                            </option>
                            <option value="price-descending">
                                Price, high to low
                            </option>
                            <option value="created-ascending">
                                Date, old to new
                            </option>
                            <option value="created-descending">
                                Date, new to old
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="product-count" role="status">
                <h2 class="product-count__text text-body">
                    <span id="ProductCountDesktop" class="twcss-font-fenomen twcss-capitalize">44 products
                    </span>
                </h2>
                <div class="loading-overlay__spinner">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
            </div>
    </aside>
    <div class="Products_Collection-page-width">
        <ul id="Products__grid-template">

        </ul>
        <div class="pagination-wrapper">
            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="Products__pagination-list list-unstyled-twcss-items-center" role="list">
                    <li class="page regular-page twcss-max-w-fit twcss-mx-1"><a role="link" aria-disabled="true"
                            class="twcss-border twcss-border-greyAsh twcss-text-greyBone body-14 hover:twcss-no-underline pagination__item pagination__item--current"
                            aria-current="page" aria-label="Page 1">1</a></li>
                    <li class="page regular-page twcss-max-w-fit twcss-mx-1"><a href="/collections/merch?page=2"
                            class="twcss-text-greyBone body-14 hover:twcss-no-underline pagination__item link"
                            aria-label="Page 2">2</a></li>
                    <li class="page next-page twcss-max-w-fit twcss-ml-2">
                        <a href="/collections/merch?page=2"
                            class="twcss-text-greyBone body-14 hover:twcss-no-underline pagination__item pagination__item--prev pagination__item-arrow link motion-reduce"
                            aria-label="Next page">
                            <span class="twcss-mr-2">Next</span><svg xmlns="http://www.w3.org/2000/svg" width="21"
                                height="14" viewBox="0 0 21 14" fill="none" aria-hidden="true" focusable="false"
                                class="Product__icon icon-caret ">
                                <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white"
                                    stroke-width="3" stroke-linecap="round"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>