<Div class="KproductDetail" style="width: 100%;
    height: 100%;
    background-color: black;">
        <div class="Main_KproductDetail">
            <div class="KproductDetail__header" height="20%">
                <a class="KproductDetail__header__a" href="https://www.deathwishcoffee.com/" title="Homepage">Homepage</a>
                <span aria-hidden="true" class="twcss-px-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                    <path d="M1 1.27271L5 5.99998L1 10.7273" stroke="white"></path>
                    </svg>
                </span>
                <a  class="KproductDetail__header__a" href="https://www.deathwishcoffee.com/collections/coffee" title="Coffee">Coffee</a>
                    <span aria-hidden="true" class="twcss-px-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                      <path d="M1 1.27271L5 5.99998L1 10.7273" stroke="white"></path>
                    </svg>
                    </span>
                <p class="KproductDetail__header__p">Pumpkin Chai Coffee</p>
            </div>
            <div class="KproductDetail__main" height="100%">
                <div class="KproductDetail__main__img" width="55%">
                    <div class="KproductDetail__main__img__div2" >
                        <img src="https://www.deathwishcoffee.com/cdn/shop/files/Pumpkin_Chai_Ground_Angle_A1.jpg?v=1693491001&width=990"
                        width="90%" height="85%;" style="padding-left:20px;padding-right: 20px;">
                    </div>
                </div>
                 <div class="KproductDetail__main__text" style="width: 45%;">
                    <!-- phần đầu -->
                    <div class="KproductDetail__main__text_Header">
                        <h1 class="KproductDetail__main__text_Header_h1">PUMPKIN CHAI COFFEE</h1>
                        
                        <div class="KproductDetail__main__text_Header_danhgia"> 
                             <div class="paragraph"><span class="bv_stars_svg_no_wrap" aria-hidden="true"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px" viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7&quot;) !important;"></polygon><path d="" style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7&quot;) !important;"></path><defs><linearGradient id="bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px" viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK&quot;) !important;"></polygon><path d="" style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK&quot;) !important;"></path><defs><linearGradient id="bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px" viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j&quot;) !important;"></polygon><path d="" style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j&quot;) !important;"></path><defs><linearGradient id="bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px" viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_UZybotxuZG&quot;) !important;"></polygon><path d="" style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_UZybotxuZG&quot;) !important;"></path><defs><linearGradient id="bv_inline_ratings_star_filled_3_99.99_UZybotxuZG" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px" viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" style="fill: url(&quot;#bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj&quot;) !important;"></polygon><path d="" style="fill: url(&quot;#bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj&quot;) !important;"></path><defs><linearGradient id="bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj" x1="72.97%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop></linearGradient></defs></svg></span></div>
                            <div class="paragraph" itemprop="ratingValue">4.7</div>
                            <div class="paragraph" aria-hidden="true"><meta itemprop="reviewCount" content="1883"><div class="paragraph">(1883)</div></div>
    
                         </div> 
                    </div>

                     <!-- phần thân -->
                     <div class="KproductDetail__main__text__infoofcoffee">
                        <h4>NOT JUST FOR SWEATER WEATHER.</h4>
                        <p>If you like pumpkin spice lattes, you'll want to make this coffee your main hang. We pair our beans with a magical, chai-inspired blend of cinnamon, cardamom and nutmeg, and roast them to perfection. So strong, seasonal and spiced up, if you think pumpkin spice is basic, then you haven't had ours.</p>
                        <p>There's nothing artificial about our coffee-just real, fresh ingredients that give it a true autumnal taste-without the chemicals you can't pronounce.</p>
                        <p>
                            <em>
                                *Not available in Whole Bean
                            </em>
                        </p>
                    </div>
                    <!-- size -->
                    <div class="KproductDetail__main__text__size">
                        
                        <h4 class="KproductDetail__main__text__size_4"><strong>SIZE</strong></h4>
                        <br>
                        @* <div class="KproductDetail__main__text__column"  style="width:400px;">
                            <select class="KproductDetail__main__text__column__select" style="width:400px;">
                            <option class="KproductDetail__main__text__column__select__op1">
                                <div class="KproductDetail__main__text__column__select__op1_div1" width="30%">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwEllbsxnsIUqbvqddKtI7BYkHEj1cUyzYLiYpsAmNth7duXpd" alt="">
                                    <p>1 bag &nbsp; &nbsp; &nbsp; $19.99</p>
                                </div>
                            </option>
                            <option class="KproductDetail__main__text__column__select__op1" >
                                <div class="KproductDetail__main__text__column__select__op1_div2" width="30%">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwEllbsxnsIUqbvqddKtI7BYkHEj1cUyzYLiYpsAmNth7duXpd" alt="">
                                    <p>2 bag &nbsp; &nbsp; &nbsp; $39.98</p>
                                </div>
                            </option>
                            <option class="KproductDetail__main__text__column__select__op1">
                                <div class="KproductDetail__main__text__column__select__op1_div3" width="30%">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwEllbsxnsIUqbvqddKtI7BYkHEj1cUyzYLiYpsAmNth7duXpd" alt="">
                                    <p>5 bag &nbsp; &nbsp; &nbsp; $84.99</p>
                                </div>
                            </option>
                             </select>
                        </div> *@
                        <div id="KproductDetail_Size_a" class="KproductDetail_Size_A" >
        
        <p class="KproductDetail_Size_p">5 bags   $84.99</p>
    </div>
    <div id="KproductDetail_Size_b" class="KproductDetail_Size_B" >
        
        <p class="KproductDetail_Size_p"> 2 bags  $39.89</p>
    </div>
    <div id="KproductDetail_Size_c" class="KproductDetail_Size_C" >

        
        <p class="KproductDetail_Size_p"> 1 bags 19.99 </p>

    </div>

                        
                        <br>

                    </div>
                    <!-- add to cart -->
                    <div clas="KproductDetail__main__text__add">
                            <button clas="KproductDetail__main__text__add_button" style="width:400px;height: 43px;background-color: #D24728;color: white ;border: 1px solid #D24728 ; ">ADD TO CART</button>
                    </div>
                    
                    <!-- flavor profile -->
                    <div class="KproductDetail__main__text_FlavorProfile">
                                <br>
                                <hr style="margin: 0;width:400px;">
                    <details style="display: flex; align-items: center;">
                    <summary style="flex: 1; display: flex; align-items: center; color: white; background-color: black;">
                            <div class="summary__title twcss-uppercase twcss-grow">
                                <h2 style="width:390px;font-size:20px;">Flavor Profile </h2>
                            </div>
                            <svg width="12" height="7" viewBox="0 0 12 7" fill="none">
                                <path d="M1.27344 1L6.00071 5L10.728 1" stroke="white" stroke-width="2"></path>
                            </svg>
                    </summary>
                        <div class="metafield-rich_text_field">
                            <p><strong>Taste:</strong> Cinnamon and clove, rounded out with hints of spices like nutmeg and black pepper. Rounded out with sweetness from coffee blend.</p>
                            <p><strong>Aftertaste:</strong> Warm brown spices with sweet notes from roast</p>
                            <p><strong>Aroma:</strong> Blend of warm spices: Cinnamon, cardamom, nutmeg, and clove</p>
                        </div>

                    </details>

                    <!-- atribute -->
                    <div>
                    <hr style="margin: 0;width:400px;">
                    
                    <details style="display: flex; align-items: center;">
                    <summary style="flex: 1; display: flex; align-items: center; color: white; background-color: black;">
                        <div class="summary__title twcss-uppercase twcss-grow">
                            <h2 style="width:390px;font-size:20px">ATTRIBUTES </h2>
                        </div>
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none">
                            <path d="M1.27344 1L6.00071 5L10.728 1" stroke="white" stroke-width="2"></path>
                        </svg>
                    </summary>
                    <div class="metafield-rich_text_summary_div1">
                        <h4>ROAST SHADE</h4>
                        <Div style="background-color: gray;display: flex; height:5px;">
                            <div style="background-color: orangered; width: 50%;">
                            
                            </div>
                            <div class="metafield-rich_text_summary_div1_cirle" >
                    
                            </div>
                        
                        </Div>    
                        <div style="display:flex; width: 150%;">
                             <p style="text-align:left; width: 33%;"> Light</p>
                    
                            <p style="text-align:right; width: 33%;">Dark</p>
                    
                        </div>
                    </div>
                    
                    <!-- phan2 -->
                    
                    <div class="metafield-rich_text_summary_div2">
                        <h4>ACIDITY</h4>
                        <Div style="background-color: gray;display: flex; height:5px;">
                            <div style="background-color: orangered; width: 30%;">
                            
                            </div>
                            <div class="metafield-rich_text_summary_div1_cirle" >
                    
                            </div>
                        
                        </Div>    
                        <div style="display:flex; width: 140%;">
                             <p style="text-align:left; width: 33%;"> Low</p>
                             <p style="text-align:left; width: 33%;"> Medium</p>
                             <p style="text-align:left; width: 30%;"> high</p>
                            
                        </div>
                    </div>
                    
                    <!-- phan3 -->
                    
                    <div class="metafield-rich_text_summary_div3">
                        <h4>ROAST SHADE</h4>
                        <Div style="background-color: gray;display: flex; height:5px;">
                            <div style="background-color: orangered; width: 50%;">
                            
                            </div>
                            <div class="metafield-rich_text_summary_div1_cirle" >
                    
                            </div>
                        
                        </Div>    
                        <div style="display:flex; width: 140%;">
                            <p style="text-align:left; width: 33%;"> Low</p>
                            <p style="text-align:left; width: 33%;"> Medium</p>
                            <p style="text-align:left; width: 30%;"> Ful</p>
                        </div>
                    </div>
                    </details>
                    </div>

                    <!-- DETAILS -->
                    <!-- <div clas="KproductDetail__main__text__add">
                        <button clas="KproductDetail__main__text__add_button" style="width:300px;height: 43px;background-color: #D24728;color: white;">DETAILS</button>
                </div> -->
                
                <div class="KproductDetail__main__text_FlavorProfile">
                            
                            <hr style="margin: 0;width:400px;">
                <details style="display: flex; align-items: center;">
                <summary style="flex: 1; display: flex; align-items: center; color: white; background-color: black;">
                        <div class="summary__title twcss-uppercase twcss-grow">
                            <h2 style="width:390px;font-size: 20px;">DETAILS </h2>
                        </div>
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none">
                            <path d="M1.27344 1L6.00071 5L10.728 1" stroke="white" stroke-width="2"></path>
                        </svg>
                </summary>
                    <div class="metafield-rich_text_field">
                        <p><strong>Bag size:</strong> 12 ounces.</p>
                        <p><strong>Format:</strong> Ground</p>
                        <p><strong>Beans:</strong> USDA Organic and Certified Fair Trade(TM) arabica and robusta</p>
                    </div>

                </details>

                </div>
        
                </div>
                
                </div>
            </div>
        </div>
    </div>