<h1>Products</h1>
<div class="Products__section-template-14567496974391-product-grid-padding">
    <div class="Products__facets-wrapper-page-width" id="Products__main-collection-filters">
        <nav class="Products__breadcrumb-twcss-font-fenomen-twcss-flex-wrap-twcss-items-center" role="navigation"
            aria-label="breadcrumbs">
            <a class="Products__twcss-font-fenomen" href="/" title="Homepage">Homepage</a>
            <span aria-hidden="true" class="twcss-px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                    <path d="M1 1.27271L5 5.99998L1 10.7273" stroke="white"></path>
                </svg>
            </span>
            <span>Merch</span>
        </nav>
        <div class="Products__facets-container-scroll-trigger-animate-fade-in">
            <div id="Products__FacetsWrapperDesktop" class="Products__facets-wrapper">
                <h2 class="Products__twcss-font-fenomenBold" id="Products__verticalTitle">
                    Filter:
                </h2>
            </div>
            <div class="Products__ads-button" onclick="toggleModal()">
                <span class="Products__twcss-text-body-16-twcss-font-fenomen">Type</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="15" viewBox="0 0 21 14" fill="none"
                    aria-hidden="true" focusable="false" class="Products__icon-icon-caret ">
                    <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white" stroke-width="3"
                        stroke-linecap="round"></path>
                </svg>
            </div>

            <!-- Modal -->

            <div id="Facet-1-template--14567496974391__product-grid" class="parent-display-facets-display">
                <div class="facets__header">
                    <span class="facets__selected no-js-hidden">0 selected</span>
                    <facet-remove>
                        <a href="/collections/merch" class="Products__facets-reset-link-underlined-link" role="button">
                            Reset
                        </a>
                    </facet-remove>
                </div>
                <fieldset class="facets-wrap parent-wrap ">
                    <legend class="visually-hidden">Type</legend>
                    <ul class=" Products__facets-list-list-unstyled-no-js-hidden" role="list">
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-1" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Accessories"
                                    id="Filter-filter.p.product_type-1" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Accessories (7)</span>
                                <span class="visually-hidden">Accessories (7 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-2" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Apparel"
                                    id="Filter-filter.p.product_type-2" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Apparel (23)</span>
                                <span class="visually-hidden">Apparel (23 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-3" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Gift Card"
                                    id="Filter-filter.p.product_type-3" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Gift Card (1)</span>
                                <span class="visually-hidden">Gift Card (1 product)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-4" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Mugs"
                                    id="Filter-filter.p.product_type-4" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Mugs (3)</span>
                                <span class="visually-hidden">Mugs (3 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-5" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="On-The-Go Drinkware"
                                    id="Filter-filter.p.product_type-5" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">On-The-Go Drinkware (6)</span>
                                <span class="visually-hidden">On-The-Go Drinkware (6 products)</span>
                            </label>
                        </li>
                        <li class="list-menu__item facets__item" onclick="toggleCheckmark(this)">
                            <label for="Filter-filter.p.product_type-6" class="facet-checkbox">
                                <input type="checkbox" name="filter.p.product_type" value="Storage &amp; Brewing"
                                    id="Filter-filter.p.product_type-6" style="display: none;">

                                <svg width="1.2rem" height="1.3rem" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1">
                                    </rect>
                                </svg>

                                <svg aria-hidden="true" class="Products__icon-icon-checkmark" width="0.7rem"
                                    height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                        stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>

                                <span aria-hidden="true">Storage &amp; Brewing (5)</span>
                                <span class="visually-hidden">Storage &amp; Brewing (5 products)</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="Products__facet-filters-sorting-caption">
                <div class="Products__facet-filters-field">
                    <h2 class="facet-filters__label caption-large text-body twcss-font-fenomenBold twcss-uppercase">
                        <label
                            class="Products__facet-filters-label-caption-large-text-body-twcss-font-fenomenBold-twcss-uppercase-label"
                            for="SortBy">Sort by:</label>
                    </h2>
                    <div class="select">
                        <select name="sort_by"
                            class="Products__facet-filters-sort-select-select-caption-large-twcss-text-body-16-twcss-font-fenomen"
                            id="SortBy" aria-describedby="a11y-refresh-page-message">
                            <option value="manual" selected="selected">Featured</option>
                            <option value="best-selling">Best selling</option>
                            <option value="title-ascending">Alphabetically, A-Z</option>
                            <option value="title-descending">Alphabetically, Z-A</option>
                            <option value="price-ascending">Price, low to high</option>
                            <option value="price-descending">Price, high to low</option>
                            <option value="created-ascending">Date, old to new</option>
                            <option value="created-descending">Date, new to old</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="Products__product-count" role="status">
                <h2 class="product-count__text text-body">
                    <span id="ProductCountDesktop" class="Products__twcss-font-fenomen-twcss-capitalize">45 products
                    </span>
                </h2>
            </div>
        </div>
    </div>
    <div class="Products__collection-page-width">

    </div>
</div>
<script>
    function toggleModal() {
        const modal = document.getElementById("Facet-1-template--14567496974391__product-grid");

        if (modal.classList.contains("Facet-1-template--14567496974391__product-grid-show")) {
            modal.classList.remove("Facet-1-template--14567496974391__product-grid-show");
        } else {
            modal.classList.add("Facet-1-template--14567496974391__product-grid-show");
        }
    }
    let originalProductCount = 45; // Số lượng sản phẩm ban đầu
    let selectedProductCount = 0; // Số lượng sản phẩm đã chọn
    let productCountSpan = document.getElementById("ProductCountDesktop");

    function toggleCheckmark(element) {
        const checkbox = element.querySelector('input[type="checkbox"]');
        const checkmark = element.querySelector(".Products__icon-icon-checkmark");
        const labelText = element.querySelector(".visually-hidden").textContent;
        const numberMatch = labelText.match(/\d+/);

        if (checkbox.checked) {
            checkbox.checked = false; // Bỏ chọn checkbox
            checkmark.style.display = "none"; // Ẩn dấu tích
            selectedProductCount -= parseInt(numberMatch[0]);
        } else {
            checkbox.checked = true; // Chọn checkbox
            checkmark.style.display = "inline-block"; // Hiển thị dấu tích
            selectedProductCount += parseInt(numberMatch[0]);
        }

        updateProductCount();
    }

    // Hàm cập nhật số lượng sản phẩm đã chọn
    function updateProductCount() {
        if (selectedProductCount === 0) {
            productCountSpan.textContent = `${originalProductCount} products`;
        } else {
            productCountSpan.textContent = `${selectedProductCount / 2} of ${originalProductCount} products`;
        }
    }

    // Gọi hàm cập nhật số lượng sản phẩm ban đầu
    updateProductCount();


</script>
