<div class="RelatedProducts_Header">
    <div class="RelatedProducts_Tilte">
        <div class="Tilte_Text">
            <div class="rich-text__blocks center">
                <h2 class="rich-text__heading rte inline-richtext heading-4 scroll-trigger animate--slide-in"
                    data-cascade="" style="--animation-order: 0;">
                    RELATED PRODUCTS
                </h2>
            </div>
        </div>
    </div>
    <div class="ProductList_body">
        <ul class="AllProducts_1">
            <li class="card__item">
                <div class="card__media">
                    <img srcset="//cdn.shopify.com/s/files/1/0271/7209/files/Medium_Roast_10ct_Angle_Vertical_Pods_A1.jpg?v=1693488697&amp;width=533"
                        alt="Death Wish Coffee Medium Roast Single-Serve Coffee Pods" loading="lazy" width="1500"
                        height="1500">
                    </img>
                </div>
                <div class="card__content">
                    <h3 class="card__heading">
                        <a href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                            id="StandardCardNoMediaLink--4657897439287" class="full-unstyled-link"
                            aria-labelledby="StandardCardNoMediaLink--4657897439287 NoMediaStandardBadge--4657897439287">
                            Medium Roast Death Cups
                        </a>
                    </h3>
                    <span class="price">
                        $14.99
                    </span>
                    <div data-bv-show="inline_rating" data-bv-product-id="4657897439287"
                        data-bv-redirect-url="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                        data-bv-seo="false" data-bv-ready="true">
                        <div><a id="14b26ad1-af9a-4d32-91d0-d0c63fcdbf45"
                                href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                                class="bv_main_container bv_hover" aria-label="4.8 out of 5 stars. 486 reviews ">
                                <div class="bv_stars_component_container" aria-hidden="true">
                                    <div class="bv_stars_button_container"><span class="bv_stars_svg_no_wrap"
                                            aria-hidden="true"><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                width="16px" height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp"
                                                        x1="81.28%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg></span></div>
                                </div>
                                <div class="bv_averageRating" aria-hidden="true">
                                    <div class="bv_text">4.8</div>
                                </div>
                                <div class="bv_numReviews" aria-hidden="true">
                                    <div class="bv_text">(486)</div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </li>
            <li class="card__item">
                <div class="card__media">
                    <img srcset="//cdn.shopify.com/s/files/1/0271/7209/files/Espresso_10ct_Angle_Vertical_A1.jpg?v=1693489911&amp;width=533"
                        sizes="(min-width: 1600px) 367px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt="Death Wish Coffee Espresso Roast Single-Serve Coffee Pods - 10 Count" class="motion-reduce"
                        loading="lazy" width="1500" height="1500">
                    </img>
                </div>
                <div class="card__content">
                    <h3 class="card__heading">
                        <a href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                            id="StandardCardNoMediaLink--4657897439287" class="full-unstyled-link"
                            aria-labelledby="StandardCardNoMediaLink--4657897439287 NoMediaStandardBadge--4657897439287">

                            Espresso Roast Death Cups

                        </a>
                    </h3>
                    <span class="price">
                        $14.99
                    </span>
                    <div data-bv-show="inline_rating" data-bv-product-id="4657897439287"
                        data-bv-redirect-url="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                        data-bv-seo="false" data-bv-ready="true">
                        <div><a id="14b26ad1-af9a-4d32-91d0-d0c63fcdbf45"
                                href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                                class="bv_main_container bv_hover" aria-label="4.8 out of 5 stars. 486 reviews ">
                                <div class="bv_stars_component_container" aria-hidden="true">
                                    <div class="bv_stars_button_container"><span class="bv_stars_svg_no_wrap"
                                            aria-hidden="true"><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                width="16px" height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp"
                                                        x1="81.28%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg></span></div>
                                </div>
                                <div class="bv_averageRating" aria-hidden="true">
                                    <div class="bv_text">4.8</div>
                                </div>
                                <div class="bv_numReviews" aria-hidden="true">
                                    <div class="bv_text">(384)</div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </li>
            <li class="card__item">
                <div class="card__media">
                    <img srcset="//cdn.shopify.com/s/files/1/0271/7209/files/Medium_Roast_16oz_Ground_Angle_A1.jpg?v=1693488635&amp;width=533"
                        src="//cdn.shopify.com/s/files/1/0271/7209/files/Medium_Roast_16oz_Ground_Angle_A1.jpg?v=1693488635&amp;width=533"
                        alt="Death Wish Coffee Medium Roast Ground Coffee">

                    </img>
                </div>
                <div class="card__content">
                    <h3 class="card__heading">
                        <a href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                            id="StandardCardNoMediaLink--4657897439287" class="full-unstyled-link"
                            aria-labelledby="StandardCardNoMediaLink--4657897439287 NoMediaStandardBadge--4657897439287">

                            Medium Roast Coffee

                        </a>
                    </h3>
                    <span class="price">
                        $19.99
                    </span>
                    <div data-bv-show="inline_rating" data-bv-product-id="4657897439287"
                        data-bv-redirect-url="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                        data-bv-seo="false" data-bv-ready="true">
                        <div><a id="14b26ad1-af9a-4d32-91d0-d0c63fcdbf45"
                                href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                                class="bv_main_container bv_hover" aria-label="4.8 out of 5 stars. 486 reviews ">
                                <div class="bv_stars_component_container" aria-hidden="true">
                                    <div class="bv_stars_button_container"><span class="bv_stars_svg_no_wrap"
                                            aria-hidden="true"><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                width="16px" height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp"
                                                        x1="81.28%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg></span></div>
                                </div>
                                <div class="bv_averageRating" aria-hidden="true">
                                    <div class="bv_text">4.8</div>
                                </div>
                                <div class="bv_numReviews" aria-hidden="true">
                                    <div class="bv_text">(995)</div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </li>
            <li class="card__item">
                <div class="card__media">
                    <img srcset="//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=165 165w,//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=360 360w,//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=533 533w,//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=720 720w,//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=940 940w,//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=1066 1066w,//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610 1500w"
                        src="//cdn.shopify.com/s/files/1/0271/7209/files/Valhalla_Java_10ct_Angle_Vertical_Pods_A1.jpg?v=1693490610&amp;width=533"
                        sizes="(min-width: 1600px) 367px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt="Death Wish Coffee Valhalla Java Odinforce Blend Single-Serve Coffee Pods"
                        class="motion-reduce" loading="lazy" width="1500" height="1500">


                    </img>
                </div>
                <div class="card__content">
                    <h3 class="card__heading">
                        <a href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                            id="StandardCardNoMediaLink--4657897439287" class="full-unstyled-link"
                            aria-labelledby="StandardCardNoMediaLink--4657897439287 NoMediaStandardBadge--4657897439287">

                            Odin Cups

                        </a>
                    </h3>
                    <span class="price">
                        $14.99
                    </span>
                    <div data-bv-show="inline_rating" data-bv-product-id="4657897439287"
                        data-bv-redirect-url="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                        data-bv-seo="false" data-bv-ready="true">
                        <div><a id="14b26ad1-af9a-4d32-91d0-d0c63fcdbf45"
                                href="/products/medium-roast-death-cups?pr_prod_strat=use_description&amp;pr_rec_id=851cbd386&amp;pr_rec_pid=4657897439287&amp;pr_ref_pid=263626321&amp;pr_seq=uniform"
                                class="bv_main_container bv_hover" aria-label="4.8 out of 5 stars. 486 reviews ">
                                <div class="bv_stars_component_container" aria-hidden="true">
                                    <div class="bv_stars_button_container"><span class="bv_stars_svg_no_wrap"
                                            aria-hidden="true"><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                width="16px" height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_0_99.99_Xps0Db2EGb"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_1_99.99_GbQwOK8WBS"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_2_99.99_gPwN2ON0vK"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_3_99.99_LA5CfPFAPJ"
                                                        x1="99.99%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="16px"
                                                height="16px" viewBox="0 0 25 25"
                                                style="width: 16px !important; height: 16px !important;">
                                                <polygon
                                                    points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </polygon>
                                                <path d=""
                                                    style="fill: url(&quot;#bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp&quot;) !important;">
                                                </path>
                                                <defs>
                                                    <linearGradient
                                                        id="bv_inline_ratings_star_filled_4_81.28_edCvqQXmPp"
                                                        x1="81.28%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: rgb(255, 255, 255); stop-opacity: 1;">
                                                        </stop>
                                                        <stop offset="1%"
                                                            style="stop-color: rgb(102, 102, 102); stop-opacity: 1;">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg></span></div>
                                </div>
                                <div class="bv_averageRating" aria-hidden="true">
                                    <div class="bv_text">4.8</div>
                                </div>
                                <div class="bv_numReviews" aria-hidden="true">
                                    <div class="bv_text">(1245)</div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>