<div class="Reviews__Header">
  <div class="Reviews__rating_header">
    <div class="Reviews__rating-section">
      <div class="Reviews__star-rating">
        <span class="Reviews__star-icons">★★★★★ </span>
        <span class="Reviews__average-rating">4.8 |</span>
      </div>
      <a href="#" class="Reviews__reviews-link">4201 Reviews</a>
    </div>
    <div class="Reviews__search-bar">
      <label for="Reviews__search-reviews" class="Reviews__hidden-label">Search topics and reviews</label>
      <input id="Reviews__search-reviews" class="Reviews__search-input" type="text"
        placeholder="Search topics and reviews">
      <button class="Reviews__search-button" disabled>Search</button>
    </div>
  </div>
  <div class="Reviews_outside">
    <div class="Reviews__bv-header">
      <div class="Reviews__bv-action-bar">
        <h2 class="Reviews__bv-action-bar-header Reviews__bv-focusable" tabindex="-1">Reviews</h2>
        <div class="Reviews__bv-write-review-container Reviews__bv-write-container">
          <button type="button"
            class="Reviews__bv-write-review Reviews__bv-focusable Reviews__bv-submission-button">Write a review
            @* <span class="bv-off-screen">. This action will open a modal dialog.</span> *@
          </button>
        </div>
      </div>
      <div class="bv-section-summary">
        <div class="bv-section-summary-table bv-table-full-width" role="presentation">
          <div class="bv-section-summary-inline bv-flex-container-responsive">
            <div data-bv-v="inlineHistogram:9" class="bv-inline-histogram bv-section-summary-block">
              <div class="bv-inline-histogram-ratings">
                <div class="bv-inline-histogram-header">
                  <h3 class="bv-content-title">Rating Snapshot</h3>
                </div>
                <p class="bv-histogram-filter-helper">Select a row below to filter reviews.</p>
                <div class="bv-flex-container-column">
                  <div class="bv-inline-histogram-ratings-star-container bv-flex-container">
                    <div class="bv-inline-histogram-ratings-star" data-bv-histogram-rating-value="5" aria-hidden="true">
                      5<span class="bv-glyph" aria-hidden="true">☆</span> <span class="bv-off-screen">stars</span>
                    </div>
                    <div class="bv-inline-histogram-ratings-bar" data-bv-histogram-rating-value="5" role="presentation"
                      data-bv-histogram-rating-count="3823"> <span class="bv-content-secondary-ratings-container"> <span
                          class="bv-content-secondary-ratings-value bv-width-from-rating-stats-91"></span> </span>
                    </div>
                    <div class="bv-inline-histogram-ratings-score"> <span aria-hidden="true"> 3823 </span> <button
                        type="button" id="bv-inline-histogram-ratings-star-label-5" class="bv-focusable bv-off-screen"
                        aria-disabled="false" aria-pressed="false"> <span class="bv-off-screen"> 3823 reviews with 5
                          stars. </span> Select to filter reviews with 5 stars. </button> </div>
                  </div>
                  <div class="bv-inline-histogram-ratings-star-container bv-flex-container">
                    <div class="bv-inline-histogram-ratings-star" data-bv-histogram-rating-value="4" aria-hidden="true">
                      4<span class="bv-glyph" aria-hidden="true">☆</span> <span class="bv-off-screen">stars</span>
                    </div>
                    <div class="bv-inline-histogram-ratings-bar" data-bv-histogram-rating-value="4" role="presentation"
                      data-bv-histogram-rating-count="167"> <span class="bv-content-secondary-ratings-container"> <span
                          class="bv-content-secondary-ratings-value bv-width-from-rating-stats-4"></span> </span> </div>
                    <div class="bv-inline-histogram-ratings-score"> <span aria-hidden="true"> 167 </span> <button
                        type="button" id="bv-inline-histogram-ratings-star-label-4" class="bv-focusable bv-off-screen"
                        aria-disabled="false" aria-pressed="false"> <span class="bv-off-screen"> 167 reviews with 4
                          stars. </span> Select to filter reviews with 4 stars. </button> </div>
                  </div>
                  <div class="bv-inline-histogram-ratings-star-container bv-flex-container">
                    <div class="bv-inline-histogram-ratings-star" data-bv-histogram-rating-value="3" aria-hidden="true">
                      3<span class="bv-glyph" aria-hidden="true">☆</span> <span class="bv-off-screen">stars</span>
                    </div>
                    <div class="bv-inline-histogram-ratings-bar" data-bv-histogram-rating-value="3" role="presentation"
                      data-bv-histogram-rating-count="80"> <span class="bv-content-secondary-ratings-container"> <span
                          class="bv-content-secondary-ratings-value bv-width-from-rating-stats-2"></span> </span> </div>
                    <div class="bv-inline-histogram-ratings-score"> <span aria-hidden="true"> 80 </span> <button
                        type="button" id="bv-inline-histogram-ratings-star-label-3" class="bv-focusable bv-off-screen"
                        aria-disabled="false" aria-pressed="false"> <span class="bv-off-screen"> 80 reviews with 3
                          stars. </span> Select to filter reviews with 3 stars. </button> </div>
                  </div>
                  <div class="bv-inline-histogram-ratings-star-container bv-flex-container">
                    <div class="bv-inline-histogram-ratings-star" data-bv-histogram-rating-value="2" aria-hidden="true">
                      2<span class="bv-glyph" aria-hidden="true">☆</span> <span class="bv-off-screen">stars</span>
                    </div>
                    <div class="bv-inline-histogram-ratings-bar" data-bv-histogram-rating-value="2" role="presentation"
                      data-bv-histogram-rating-count="44"> <span class="bv-content-secondary-ratings-container"> <span
                          class="bv-content-secondary-ratings-value bv-width-from-rating-stats-1"></span> </span> </div>
                    <div class="bv-inline-histogram-ratings-score"> <span aria-hidden="true"> 44 </span> <button
                        type="button" id="bv-inline-histogram-ratings-star-label-2" class="bv-focusable bv-off-screen"
                        aria-disabled="false" aria-pressed="false"> <span class="bv-off-screen"> 44 reviews with 2
                          stars. </span> Select to filter reviews with 2 stars. </button> </div>
                  </div>
                  <div class="bv-inline-histogram-ratings-star-container bv-flex-container">
                    <div class="bv-inline-histogram-ratings-star" data-bv-histogram-rating-value="1" aria-hidden="true">
                      1<span class="bv-glyph" aria-hidden="true">☆</span> <span class="bv-off-screen">stars</span>
                    </div>
                    <div class="bv-inline-histogram-ratings-bar" data-bv-histogram-rating-value="1" role="presentation"
                      data-bv-histogram-rating-count="87"> <span class="bv-content-secondary-ratings-container"> <span
                          class="bv-content-secondary-ratings-value bv-width-from-rating-stats-2"></span> </span> </div>
                    <div class="bv-inline-histogram-ratings-score"> <span aria-hidden="true"> 87 </span> <button
                        type="button" id="bv-inline-histogram-ratings-star-label-1" class="bv-focusable bv-off-screen"
                        aria-disabled="false" aria-pressed="false"> <span class="bv-off-screen"> 87 reviews with 1 star.
                        </span> Select to filter reviews with 1 star. </button> </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-bv-v="secondaryRatingSummary:10" class="bv-secondary-rating-summary bv-section-summary-block">
              <div class="bv-secondary-rating-summary-header">
                <h3 class="bv-content-title">Average Customer Ratings</h3>
              </div>
              <div class="bv-secondary-rating-summary-list bv-table" role="presentation">
                <div class="bv-secondary-rating-summary-stars bv-table-row">
                  <div class="bv-secondary-rating-summary-id bv-td bv-table-cell" aria-hidden="true">Overall</div> <span
                    class="bv-table-cell"> <span class="bv-rating-stars-container"> <span
                        class="bv-rating-stars bv-rating-stars-off" aria-hidden="true"> ☆☆☆☆☆ </span> </span> </span>
                  <span class="bv-secondary-rating-summary-rating bv-table-cell nocell" aria-hidden="true"> 4.8 </span>
                </div>
                <div class="bv-secondary-rating-summary-bars-container bv-table-row">
                  <div class="bv-secondary-rating-summary-id bv-td bv-table-cell" aria-hidden="true">Quality of Product
                  </div> <span class="bv-secondary-rating-summary-container bv-table-cell">
                    <ul class="bv-secondary-rating-summary-bars" role="presentation">
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-value bv-width-from-rating-stats-100" role="presentation">
                      </li>
                    </ul>
                  </span> <span class="bv-secondary-rating-summary-rating bv-table-cell yescell"
                    aria-hidden="true">5.0</span>
                  @* <span class="bv-off-screen">Quality of Product, average rating value is 5 of 5.&nbsp;</span> *@
                </div>
                <div class="bv-secondary-rating-summary-bars-container bv-table-row cell">
                  <div class="bv-secondary-rating-summary-id bv-td bv-table-cell" aria-hidden="true">Value of Product
                  </div> <span class="bv-secondary-rating-summary-container bv-table-cell">
                    <ul class="bv-secondary-rating-summary-bars" role="presentation">
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-bar bv-width-from-rating-stats-20" role="presentation">
                      </li>
                      <li class="bv-secondary-rating-summary-value bv-width-from-rating-stats-96" role="presentation">
                      </li>
                    </ul>
                  </span> <span class="bv-secondary-rating-summary-rating bv-table-cell cell"
                    aria-hidden="true">4.8</span>
                  @* <span class="bv-off-screen">Value of Product, average rating value is 4.8 of 5.&nbsp;</span> *@
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>