<div class="SearchResult_Header">
    <div class="Searching">
        <input type="text" class="form-control" placeholder="Sads" aria-label="Recipient's username"
            aria-describedby="button-addon2" style="height:35px;width: 400px;">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            style="height: 35px; background-color: gray;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16" style="width: 30px; height: 22px;">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                </path>
            </svg>
        </button>
    </div>
    <hr style="font-weight: bolder;
    color: white;
    height: 2px;">
    <div class="SearchResult_Body">
        <h1>Search Results</h1>
        <p style="padding-left: 20px;">Showing 1-6</p>
    </div>
    <br>
    <div class="Rating_cmt">
        <div class="RatingStar">
            <span class="bv_stars_svg_no_wrap" aria-hidden="true">
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_3_99.99_UZybotxuZG" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj" x1="72.97%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg></span>
        </div>
        <div>
            &nbsp; Pete Parker &nbsp; | &nbsp; 4 months &nbsp; ago
        </div>
    </div>
    <p style="color:white;margin:1rem;">
        "Coffee lover's dream"
        <br>
        I got a bag of this coffee for Christmas from friends of mine this year.I had never even heard of...Show
        Full Review
        <br>
    </p>
    <div class="Rating_cmt">
        <div class="RatingStar">
            <span class="bv_stars_svg_no_wrap" aria-hidden="true">
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_3_99.99_UZybotxuZG" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj" x1="72.97%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg></span>
        </div>
        <div>
            &nbsp; Thor &nbsp; | &nbsp; 5 months &nbsp; ago
        </div>
    </div>
    <p style="color:white;margin:1rem;">
        "The Perfect Morning Companion"
        <br>
        I start every day with a cup of coffee, and it never fails to kickstart my morning. The rich aroma and bold
        flavor are just what I need to wake up and face the day.
        <br>
    </p>
    <div class="Rating_cmt">
        <div class="RatingStar">
            <span class="bv_stars_svg_no_wrap" aria-hidden="true">
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_3_99.99_UZybotxuZG" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj" x1="72.97%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg></span>
        </div>
        <div>
            &nbsp; Tony Start &nbsp; | &nbsp; 4 months &nbsp; ago
        </div>
    </div>
    <p style="color:white;margin:1rem;">
        "A Taste of Heaven"
        <br>
        Coffee is like a little slice of heaven in a cup. The velvety texture, the warmth, and that deep, satisfying
        taste make it the perfect indulgence.
        <br>
    </p>
    <div class="Rating_cmt">
        <div class="RatingStar">
            <span class="bv_stars_svg_no_wrap" aria-hidden="true">
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_3_99.99_UZybotxuZG" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj" x1="72.97%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg></span>
        </div>
        <div>
            &nbsp; Steve Rogers &nbsp; | &nbsp; 6 months &nbsp; ago
        </div>
    </div>
    <p style="color:white;margin:1rem;">
        "Coffee: The Elixir of Productivity"
        <br>
        Coffee isn't just a beverage; it's the elixir that boosts my productivity. Whenever I'm working on a project or
        need to focus, a cup of coffee is my go-to fuel.
        <br>
    </p>
    <div class="Rating_cmt">
        <div class="RatingStar">
            <span class="bv_stars_svg_no_wrap" aria-hidden="true">
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_0_99.99_6xGem75UQ7" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_1_99.99_miLTGzyBtK" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_2_99.99_mtZaaV6R3j" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_3_99.99_UZybotxuZG") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_3_99.99_UZybotxuZG" x1="99.99%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="17.5px" height="17.5px"
                    viewBox="0 0 25 25" style="width: 17.5px !important; height: 17.5px !important;">
                    <polygon
                        points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"
                        style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </polygon>
                    <path d="" style="fill: url(" #bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj") !important;">
                    </path>
                    <defs>
                        <linearGradient id="bv_inline_ratings_star_filled_4_72.97_EKHau0o2Tj" x1="72.97%" y1="0%"
                            x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(255, 255, 255); stop-opacity: 1;"></stop>
                            <stop offset="1%" style="stop-color: rgb(102, 102, 102); stop-opacity: 1;"></stop>
                        </linearGradient>
                    </defs>
                </svg></span>
        </div>
        <div>
            &nbsp; Stephen Strange &nbsp; | &nbsp; 6 months &nbsp; ago
        </div>
    </div>
    <p style="color:white;;margin:1rem;">
        "The Magic of Coffee"
        <br>
        Coffee is the elixir of life. The aroma alone can kickstart your day, and that first sip is like a warm,
        comforting hug. Whether it's a rich, dark roast or a velvety latte, coffee has the power to transport you to a
        different world, even if just for a few moments.
        <br>
    </p>
</div>