<div class="sign-up">
   <h2 class="sign-up__heading">
      LET'S DRINK COFFEE AND THROW THINGS AT HAPPY PEOPLE
   </h2>

   <form class="sign-up__form">
      <input type="email" name="email" placeholder="Enter Your Email Address" required>
      <button>Sign me up</button>
   </form>

</div>