<div class="Slideshow">
    <div class="slideshow-container">
        <div class="Slideshow-banner">
            <div class="Slideshow-slide">
                <div class="Slideshow-text-wapper">
                    <div class="Slideshow-text-banner">
                        <h2 class="Slide-heading">“CONSIDER IT A FINISHED PROJECT"</h2>
                        <div class="banner-text-wapper">
                            <p class="text">If you need to get things DONE, drink some Death Wish Coffee and consider it
                                a finished
                                project.
                                Ordering more as
                                we
                                speak!</p>
                        </div>
                        <div class="banner-richtext">MASSI B.</div>
                    </div>
                </div>
            </div>
            <div class="Slideshow-slide">
                <div class="Slideshow-text-wapper">
                    <div class="Slideshow-text-banner">
                        <h2 class="Slide-heading">“I AM SO HAPPY I STARTED DRINKING THIS COFFEE”</h2>
                        <div class="banner-text-wapper">
                            <p class="text">I am so happy I started drinking this coffee. This is the first time I have
                                not had to
                                deal with
                                acid issues or coffee
                                making me feel sick after drinking it. I have not had that issue once with this coffee
                                and
                                that's a big deal to me.</p>
                        </div>
                        <div class="banner-richtext">MICHELLE R.</div>
                    </div>
                </div>
            </div>
            <div class="Slideshow-slide">
                <div class="Slideshow-text-wapper">
                    <div class="Slideshow-text-banner">
                        <h2 class="Slide-heading">“THE GREATEST COFFEE ON EARTH”</h2>
                        <div class="banner-text-wapper">
                            <p class="text">Death Wish Coffee is the greatest coffee on earth. I wholeheartedly believe
                                that. It's
                                smoother
                                than you can possibly
                                imagine. It's strong, it's whole and it's hearty. I can't endorse this product enough.
                            </p>
                        </div>
                        <div class="banner-richtext">TROY S.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slideshow-control" style="color:#fff;background-color: #201e1d">
    <button id="prevButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none"
            aria-hidden="true" focusable="false" class="Slideshow__icon-icon-caret slideshow__left-icon ">
            <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white" stroke-width="3"
                stroke-linecap="round">
            </path>
        </svg>
    </button>
    <div class="slider-couter">
        <span class="slider-curren">1 / 3</span>

    </div>
    <button id="nextButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none"
            aria-hidden="true" focusable="false" class="Slideshow__icon-icon-caret slideshow__right-icon ">
            <path d="M2.0293 2.48523L10.5146 10.9705L18.9999 2.48523" stroke="white" stroke-width="3"
                stroke-linecap="round">
            </path>
        </svg>
    </button>
    <div id="playButton" class="slideshow__play">
        <svg class="slideshow__control-icon--pause" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" fill="none" viewBox="0 0 10 14">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z"
                fill="currentColor"></path>
        </svg>
        <svg class="slideshow__control-icon--play" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"
            focusable="false" aria-hidden="true">
            <path
                d="M1.2 0.75C0.813401 0.75 0.5 0.985051 0.5 1.275V10.725C0.5 11.0149 0.813401 11.25 1.2 11.25C1.5866 11.25 1.9 11.0149 1.9 10.725V1.275C1.9 0.985051 1.5866 0.75 1.2 0.75Z"
                fill="currentColor"></path>
            <path
                d="M6.8 0.75C6.4134 0.75 6.1 0.985051 6.1 1.275V10.725C6.1 11.0149 6.4134 11.25 6.8 11.25C7.1866 11.25 7.5 11.0149 7.5 10.725V1.275C7.5 0.985051 7.1866 0.75 6.8 0.75Z"
                fill="currentColor"></path>
        </svg>
    </div>
</div>