<div class="slip-content-1">
    <div class="slip-content-1__img">
        <img src="https://www.deathwishcoffee.com/cdn/shop/files/DW-about-2_5aa223d7-5628-4839-9ee0-9d53830a4db6.jpg?v=1680193531&width=535"
            alt="" style="height: 100%" class="slip-content-1__img__coffee">
        <link rel="stylesheet" href="slipcontent9.css">
    </div>
    <div class="slip-content-1__text">
        <div class="slip-content-1__maintext">
            <p class="slip-content-1__maintext__header">REDEFINING ROBUSTA</p>
            <div class="slip-content-1__maintext__body">
                <p>
                    Death Wish Coffee has harnessed robusta's magical powers since 2012,
                    before other coffee companies caught on to its resistance to climate change and ability to brew a
                    bold cup.
                    We're bold enough to find the best qualities in robusta and give these power-packed beans proper
                    care through processing at origin and roasting at our manufacturing sites.

                </p>
                <p>
                    <br>

                    This rigorous process results in a strong cup of coffee with increased aroma and mouth feel,
                    low acidity, and an extra kick of caffeine. Paired with our Fair Trade and organic arabica beans,
                    you're guaranteed a bold, smooth and premium cup of coffee every time—because who wants weak,
                    watery coffee?
                </p>
            </div>
        </div>
    </div>
</div>


<div class="slip-content-1__phan2">
    <div class="slip-content-1__img__phan2" style="width:100%">
        <img src="https://www.deathwishcoffee.com/cdn/shop/files/About-DWC.jpg?v=1694118418&width=750" alt=""
            style="height: 100%" class="slip-content-1__img__coffee__phan2">
    </div>
    <div class="slip-content-1__text__phan2" style="width:100%">
        <div class="slip-content-1__maintext__phan2">
            <p class="slip-content-1__maintext__header__phan2">CAFFEINDS BEHIND THE BEANS</p>
            <div class="slip-content-1__maintext__body__phan2">
                <p style="padding-bottom: 10px;">
                    Founded in 2012 in Saratoga Springs, New York,
                    Death Wish Coffee is made up of a passionate team that's always looking at fresh ways to provide
                    bold,
                    smooth cups of coffee to our people. We're
                    headquartered in downtown Saratoga Springs, with manufacturing down the road in Round Lake, New York
                    and an office in New York City.
                    We live to rebel against blah beans—and a boring, lackluster life.
                </p>
            </div>
        </div>
    </div>
</div>
