<div class="SplitContent2__split-content-2">

  <div class="SplitContent2__mediaimage">
    <img src="//www.deathwishcoffee.com/cdn/shop/files/Dark_Roast_Ground.jpg?v=1694463035&amp"
      alt="Dark Roast Ground Coffee" class="SplitContent2__mediaimage__img">
  </div>

  <div class="SplitContent2__text-outside">
    <div id="SplitContent2__twcss-inside1">
      <div class="SplitContent2__twcss-inside2">
        <p class="SplitContent2__tilte">
          FIERCELY STRONG COFFEE
        </p><br>
      </div>
      <div class="SplitContent2__inside1">
        <p><span class="SplitContent2__bodyText">Rebellious by nature, our coffee delivers a
            bold,
            full-bodied
            yet smooth and flavorful brew that will awaken your taste buds, with an extra kick of caffeine to ignite
            your attitude. <br>
            <br>
            Death Wish Coffee is made to fuel bold souls—and bold souls deserve high-quality ingredients. We harness
            the
            power of naturally high-caffeine robusta beans and blend them with smooth, balanced arabica beans to
            produce
            a bold, delicious brew. A typical cup of Death Wish Coffee contains about 165 mg of caffeine (confirmed by
            an independent lab)—but actual caffeine levels may vary depending on brew method, brew ratio, and crop to
            crop variability. We recommend 2.5 tablespoons of coffee for every 6 fluid ounces of water for a brew that
            will get you out of your skull and into the daily grind.</span></p>
      </div>
    </div>
  </div>
</div>
