<div class="slip-content-1" width="834px" height="695px">
        <div class="slip-content-1__img" width="47%" width="100%">
            <img src="https://www.deathwishcoffee.com/cdn/shop/files/DW-about-2_5aa223d7-5628-4839-9ee0-9d53830a4db6.jpg?v=1680193531&width=535" 
            alt="" width="100%" height="695px">
        </div>
        <div class="slip-content-1__text" width="45%" height="100%">
            <div class="slip-content-1__maintext" width="100%" height="100%">
                <p class="slip-content-1__maintext__header" width="334px" height="72px">
                    <strong>REDEFINING ROBUSTA</strong>
                </p>
                <div class="slip-content-1__maintext__body" width="200px" height="30px">
                        <p>
                            Death Wish Coffee has harnessed robusta's magical powers since 2012, 
                            before other coffee companies caught on to its resistance to climate change and ability to brew a bold cup. 
                            We're bold enough to find the best qualities in robusta and give these power-packed beans proper care through processing at origin and roasting at our manufacturing sites.

                        </p>
                        <p>
                        <br>

                            This rigorous process results in a strong cup of coffee with increased aroma and mouth feel, 
                            low acidity, and an extra kick of caffeine. Paired with our Fair Trade and organic arabica beans,
                             you're guaranteed a bold, smooth and premium cup of coffee every time—because who wants weak, 
                             watery coffee?
                        </p>
                </div>
            </div>
        </div>
    </div>
