 <div class="Timeline" style="background-color: #201e1d;">

        <div class="KTimeline">

            <!-- phan dau 1 -->

            <div class="KTimeline_Main9" style="padding-left: 10px;">
                <div class="KTimeline_Main9_img">
                    <img class="twcss-mx-auto" src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Timeline_1_3194d7f5-63e8-4121-9d57-d332c82b9b76.png?crop=center&height=180&v=1678757943&width=180">
                </div>
                <h3 class="KTimeline_Main9_text">
                    
                    <span class="KTimeline_Main9_text_year" style="color: red;">2012</span>
                    <br>
    
                <strong style="padding-left: 10px;">THE CREATION OF DEATH WISH COFFEE</strong> 
                </h3>
                <p class="KTimeline_Main9_text_text_9">Mike Brown brings his idea for Death Wish Coffee to life, creating the recipe and roasting process.</p>
           
            </div>

            <!-- phan dau 2 -->

            <div class="KTimeline_Main9">
                <div class="KTimeline_Main9_img">
                    <img class="twcss-mx-auto" src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Timeline_2_f3858a14-25dd-4f1a-ae03-0d20b5bf80ec.png?crop=center&height=180&v=1678757899&width=180">
                </div>
                <h3 class="KTimeline_Main9_text">
                    
                    <span class="KTimeline_Main9_text_year" style="color: red;">2013</span>
                    <br>
    
                    <strong style="padding-left: 10px;">GOOD MORNING AMERICA</strong>
                </h3>
                <p class="KTimeline_Main9_text_text_9">“Good Morning America” airs a segment on Death Wish Coffee and introduces us to thousands of people.</p>
           
            </div>

            <!-- phan dau 3 -->

            <div class="KTimeline_Main9">
                <div class="KTimeline_Main9_img">
                    <img class="twcss-mx-auto" src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Timeline_3_edea80e9-184b-4c9f-b615-2c7516c9aa82.png?crop=center&height=180&v=1678757898&width=180">
                </div>
                <h3 class="KTimeline_Main9_text">
                    
                    <span class="KTimeline_Main9_text_year" style="color: red;">2016</span>
                    <br>
    
                    <strong style="padding-left: 10px;">SUPER BOWL 50 AD AIRS</strong>
                </h3>
                <p class="KTimeline_Main9_text_text_9">We became the smallest company to run a commercial during Super Bowl 50 after winning the Intuit Small Business Big Game Competition.</p>
            </div>

            <!-- phan dau 4 -->

            <div class="KTimeline_Main9">
                <div class="KTimeline_Main9_img">
                    <img class="twcss-mx-auto" src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Timeline_4_4ae292b7-c199-41d4-8633-e4e5a49067aa.png?crop=center&height=180&v=1678757898&width=180">
                </div>
                <h3 class="KTimeline_Main9_text">
                    
                    <span class="KTimeline_Main9_text_year" style="color: red;">2018</span>
                    <br>
    
                    <strong style="padding-left: 10px;">CAFFEINATED THE UNIVERSE</strong>
                </h3>
                <p class="KTimeline_Main9_text_text_9">With the help of NASA Food Labs, Death Wish Coffee developed an instant freeze-dried blend of our coffee to fuel astronauts on the International Space Station.</p>           
            </div>

            <!-- phan dau 5 -->

            <div class="KTimeline_Main9">
                <div class="KTimeline_Main9_img">
                    <img class="twcss-mx-auto" src="https://www.deathwishcoffee.com/cdn/shop/files/Death_Wish_-_About_-_Timeline_5_08cadae3-9181-49f4-9a47-e5c72ad581ae.png?crop=center&height=180&v=1678757898&width=180">
                </div>
                <h3 class="KTimeline_Main9_text">
                    
                    <span class="KTimeline_Main9_text_year" style="color: red;">2021 - 2022</span>
                  
                    <br>
                    <strong style="padding-left: 10px;">NEW ROASTS AND FLAVORS</strong>
                </h3>
                <p class="KTimeline_Main9_text_text_9">Expanded beyond our original Dark Roast, adding Medium Roast & Espresso Roast to our everyday lineup and introducing flavors of Gingerdead and Blue and Buried.</p>
           
            </div>
        </div>
    </div>
