@{
    ViewData["Title"] = "Not Found Page";
}

<div class="error404">
    <div clas="error404__img">
        <img src="https://www.deathwishcoffee.com/cdn/shop/files/404-clean.svg?crop=center&height=170&v=1693861117&width=485"
            width="100%" height="150px" class="hinhanh__404__img">
        <br>
        <h1 class="error404__img__header">EMPTY MUG?</h1>
        <p class="error404__img__p">This page is empty, too. Refill your cup by shopping the links below.
        </p>
    </div>
    <div class="error404__search">
        <br>
        <p class="error404__search__looking">Looking for something else?</p>
        <form class="error404__search__form">

            <div class="error404__search__form__div9">
                <input class="error404__search__form__div9__input" type="name" placeholder="search" required
                    minlength="3" maxlength="100">
            </div>
            <button class="error404__search__form__div9__button" type="submit" aria-label="Search">
                <svg class="error404__search__form__div9__button__icon" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
                        fill="#000000"></path>
                </svg>
                <a href="https://www.deathwishcoffee.com/search?q=&options%5Bprefix%5D=last"></a>
            </button>
        </form>

    </div>
</div>

<div class="not-found-page__group-buttons">
    <button class="btn">Coffee</button>
    <button class="btn">Merch</button>
    <button class="btn">Find in store</button>
    <button class="btn">The void</button>
</div>

<partial name="../../components/Title.cshtml" />
<partial name="../../components/Carousel1.cshtml" />