<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/814f5a1f-83c8-4c4e-84ed-ddb563d48d74/resourcegroups/Vovan/providers/Microsoft.Web/sites/DeathHuflitCoffee</ResourceId>
    <ResourceGroup>Vovan</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://deathhuflitcoffee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>67484ea8-e284-425f-bd29-e7c19d40dcba</ProjectGuid>
    <PublishUrl>https://deathhuflitcoffee.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DeathHuflitCoffee</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>