/* .Kaccount_Main {
    width: 448px;
    height: 52px; 
   margin: 0 auto;
   margin-top: 100px; 
   font-family: Arial, sans-serif;
   text-align: center;
   background-color: black;
   color: black;

}
 .Kaccountform-floating-mb-3{
    height: 50px;
    width:450px;
 }
  .Kaccount_Main input[type='text'],
   .Kaccount_Main input[type='email'],
   .Kaccount_Main input[type='password'] {
     width: 90%; 
    padding: 10px;
    margin: 10px 0;
 } 

 
 .Kaccount_button {
    width: 30%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: red;
    border:solid red;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
 }   */
.KRegister_Main {
   padding-top: 36px;
   padding-bottom: 0px;
   padding-left: 50px;
   padding-right: 0px;
}

.KRegister_Main_header_logout {
   width: 78px;
   height: 18px;
   display: flex;

   color: white;
}

.KRegister_Main_header_logout__icon {
   width: 15px;
   height: 15px;
   color: white;
}

.KRegister_Main_header_account {
   padding-bottom: 10px;
   color: white;
}

.KRegister_Main_Text {
   display: flex;
   color: white;
   margin-top: 30px;
}

.KRegister_Main_Text1 {
   width: 70%;

}

.KRegister_Main_Text2 {
   font-size: 16px;
   width: 260px;
   padding-left: 30px;

   /* width: 210; 
width: 220px; 
   padding-left: 50px;
   text-align: left;
   font-size: 20px; */
}

@media (max-width: 768px) {
   .KRegister_Main_Text {
      display: flex;
      flex-direction: column;
      color: white;
   }

   .KRegister_Main_Text1 {
      order: 2;
      padding-bottom: 20px;
   }

   .KRegister_Main_Text2 {
      order: 1;
      height: 200px;
      padding-bottom: 0;
   }
}