.Kaccount_Main {
    width: 448px;
   /* height: 52px; */
   margin: 0 auto;
   margin-top: 100px; 
   font-family: Arial, sans-serif;
   text-align: center;
   background-color: black;
   color: black;

}
 .Kaccountform-floating-mb-3{
    height: 50px;
    width:450px;
 }
  input[type='text'],
 input[type='email'],
 input[type='password'] {
     width: 90%; 
    padding: 10px;
    margin: 10px 0;
 } 

 
 .Kaccount_button {
    width: 30%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: red;
    border:solid red;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
 }  
