.BigTitle2 {
   width: 100%;
   text-align: center;
   padding: 0px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px 0;
}

.BigTitle2__title {
   justify-content: center;
   max-width: 780px;
   color: #fff;
   justify-content: center;
   font-size: 60px;
   font-weight: 700;

   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.BigTitle2__suptitle {
   font-size: 18px;
   justify-content: center;
   max-width: 780px;
   color: #fff;
   justify-content: center;
   line-height: 23px;
}

@media (max-width: 991px) {
   .BigTitle2__title {
      max-width: 500px;
      font-size: 40px;
   }
   .BigTitle2__suptitle {
      max-width: 500px;
   }
}
