* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.BlogCarousel__section-template--14566367264823__f44704c6-4d2b-4de8-82bc-a58b9d2d4c00-padding {
   padding-top: 0px;
   padding-bottom: 15px;
   background: black;
}
.BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
   margin: 0 0 32px;
   padding: 0 15px;
   color: #fff;
   font-size: 16px;
}
#BlogCarousel__SectionHeading-template-14566367264823-f44704c6-4d2b-4de8-82bc-a58b9d2d4c00 {
   font-size: 34px;
   font-style: normal;
   font-weight: 800;
   text-transform: uppercase;
}
.BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link .BlogCarousel__link {
   font-size: 14px;
   line-height: 1.3rem;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 550;
   font-family: "DM Sans", sans-serif;
   position: relative;
   bottom: 7px;
}
.BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link .BlogCarousel__link:hover {
   color: #e12727;
   text-transform: uppercase;
   text-decoration: underline;
}
/* .BlogCarousel__slider-component-full-width {
   width: 150%;
   height: 390px;
   padding: 0px 75px;
   display: flex;
   position: relative;
} */
.BlogCarousel__slider-component-full-width {
   width: 100%; /* Thay vì 150% */
   height: auto; /* Sử dụng auto để điều chỉnh chiều cao tự động */
   padding: 0 5%; /* Sử dụng % cho padding để linh hoạt hơn */
   display: flex;
   position: relative;
   width: 150vw; /* Sử dụng viewport width */
   height: 55vh; /* Sử dụng viewport height */
   padding: 0 5%; /* Sử dụng % cho padding để linh hoạt hơn */
}
.BlogCarousel__blocks {
   display: flex;
   transition: transform 0.5s ease; /* Tạo hiệu ứng di chuyển mượt mà */
   z-index: 1; /* Đặt z-index để đảm bảo các khối div nằm chìm bên dưới mũi tên */
}
.BlogCarousel__arrow {
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer; /* Biến con trỏ thành dấu tay khi trỏ vào mũi tên */
   position: relative;
   width: 74px;
}
#BlogCarousel__arrowLeft {
   background: #000;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   margin: auto;
   height: 100%;
   padding-left: 30px;
   border: none;
}
#BlogCarousel__arrowRight {
   background: #000;
   position: absolute;
   top: 0;
   width: 100px;
   left: 63%;
   padding-left: 40px;
   text-align: center;
   margin: auto;
   height: 100%;
   border: none;
   transform: rotate(180deg);
}
@media only screen and (min-width: 990px) {
   .BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;
      margin: 0 0 32px;
      padding: 0 75px;
      color: #fff;
      font-size: 16px;
   }
   .BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link {
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
   }
   .BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link .BlogCarousel__link {
      color: black;
   }
   .BlogCarousel__featured-blog .BlogCarousel__title-wrapper-with-link .BlogCarousel__link:hover {
      padding-bottom: 7px;
      margin-left: 14px;
      color: #e12727;
      text-transform: uppercase;
   }
}
#BlogCarousel__Slider-template-14566367264823-f44704c6-4d2b-4de8-82bc-a58b9d2d4c00 {
   display: flex;
   height: 100%;
   gap: 1.6rem;
   padding-left: 1rem;
}
.BlogCarousel__article-card-wrapper.BlogCarousel__card-wrapper.BlogCarousel__underline-links-hover {
   padding: 16px;
   border: 1px solid #3d3b3a;
   cursor: pointer;
}
.BlogCarousel__article-card-wrapper.BlogCarousel__card-wrapper.BlogCarousel__underline-links-hover:hover
   .BlogCarousel__motion-reduce {
   transform: scale(1.1);
   transition: transform 0.5s ease-in-out;
   overflow: hidden;
}
.BlogCarousel__blog-posts .BlogCarousel__card-wrapper {
   width: 100%;
   height: 100%;
}
.BlogCarousel__card:not(.BlogCarousel__ratio) {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.BlogCarousel__card-inner.BlogCarousel__color-background-2.BlogCarousel__gradient.BlogCarousel__ratio {
   height: 150px;
   position: relative;
   overflow: initial;
}
.BlogCarousel__card-content {
   height: 100%;
}
.BlogCarousel__card-heading a {
   color: #fff;
   text-decoration: none;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 900;
}
.BlogCarousel__h2 {
   line-height: 12px;
}
.BlogCarousel__card-heading a:hover {
   color: #e12727;
   text-decoration: underline;
}
.BlogCarousel__article-card .BlogCarousel__card-information {
   display: flex;
   flex-direction: column;
   padding: 15px 0 0;
}
.BlogCarousel__article-card-image-wrapper.BlogCarousel__card-media {
   width: 100%;
   height: 100%;
}
.BlogCarousel__article-card-image.BlogCarousel__media.BlogCarousel__media-hover-effect {
   width: 100%;
}
.BlogCarousel__motion-reduce {
   position: absolute;
   width: 100%; /* Hình ảnh sẽ tự động thay đổi kích thước sao cho phù hợp với chiều rộng của thẻ div */
   height: 100%;
}
.BlogCarousel__blog-post.BlogCarousel__grid-item.BlogCarousel__article.BlogCarousel__slider-slide.BlogCarousel__scroll-trigger.BlogCarousel__animate-slide-in {
   color: #fff;
   list-style: none;
   width: 100%;
}
.BlogCarousel__card.BlogCarousel__article-card.BlogCarousel__card-standard.BlogCarousel__card-media {
   background-color: #000;
   overflow: hidden;
}

@media only screen and (max-width: 1300px) {
   .BlogCarousel__slider-component-full-width {
      height: 60vh;
   }
}
@media only screen and (max-width: 1200px) {
   .BlogCarousel__slider-component-full-width {
      height: 70vh;
   }
}
@media only screen and (max-width: 991px) {
   .BlogCarousel__slider-component-full-width {
      width: 100%; /* Điều chỉnh lại chiều rộng */
      height: auto; /* Sử dụng auto để điều chỉnh chiều cao tự động */
      width: 520vw;
      height: 75vh;
      padding-left: 8%;
   }
   #BlogCarousel__arrowRight {
      left: 18%;
   }
   .BlogCarousel__card-inner.BlogCarousel__color-background-2.BlogCarousel__gradient.BlogCarousel__ratio {
      height: 80%;
   }
   .BlogCarousel__card-inner.BlogCarousel__color-background-2.BlogCarousel__gradient.BlogCarousel__ratio.BlogCarousel__head-picture {
      height: 400%;
   }
   .BlogCarousel__article-card-wrapper.BlogCarousel__card-wrapper.BlogCarousel__underline-links-hover:hover
      .BlogCarousel__motion-reduce {
      transform: none;
      transition: none;
      overflow: hidden;
   }
}
#BlogCarousel__arrowLeft-next1 {
   background: #000;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   margin: auto;
   height: 100%;
   padding-left: 30px;
   border: none;
}
#BlogCarousel__arrowRight-next1 {
   background: #000;
   position: absolute;
   top: 0;
   width: 100px;
   left: 63%;
   padding-left: 40px;
   text-align: center;
   margin: auto;
   height: 100%;
   border: none;
   transform: rotate(180deg);
}
@media only screen and (max-width: 991px) {
   #BlogCarousel__arrowRight-next1 {
      left: 17.9%;
   }
}
.BlogCarousel__blocks-next1 {
   display: flex;
   transition: transform 0.5s ease; /* Tạo hiệu ứng di chuyển mượt mà */
   z-index: 1; /* Đặt z-index để đảm bảo các khối div nằm chìm bên dưới mũi tên */
}
#BlogCarousel__arrowLeft-next2 {
   background: #000;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   margin: auto;
   height: 100%;
   padding-left: 30px;
   border: none;
}
#BlogCarousel__arrowRight-next2 {
   background: #000;
   position: absolute;
   top: 0;
   width: 100px;
   left: 63%;
   padding-left: 40px;
   text-align: center;
   margin: auto;
   height: 100%;
   border: none;
   transform: rotate(180deg);
}
@media only screen and (max-width: 991px) {
   #BlogCarousel__arrowRight-next2 {
      left: 17.9%;
   }
}
.BlogCarousel__blocks-next2 {
   display: flex;
   transition: transform 0.5s ease; /* Tạo hiệu ứng di chuyển mượt mà */
   z-index: 1; /* Đặt z-index để đảm bảo các khối div nằm chìm bên dưới mũi tên */
}
#BlogCarousel__arrowLeft-next3 {
   background: #000;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   margin: auto;
   height: 100%;
   padding-left: 30px;
   border: none;
}
#BlogCarousel__arrowRight-next3 {
   background: #000;
   position: absolute;
   top: 0;
   width: 100px;
   left: 63%;
   padding-left: 40px;
   text-align: center;
   margin: auto;
   height: 100%;
   border: none;
   transform: rotate(180deg);
}
@media only screen and (max-width: 991px) {
   #BlogCarousel__arrowRight-next3 {
      left: 17.9%;
   }
}
.BlogCarousel__blocks-next3 {
   display: flex;
   transition: transform 0.5s ease; /* Tạo hiệu ứng di chuyển mượt mà */
   z-index: 1; /* Đặt z-index để đảm bảo các khối div nằm chìm bên dưới mũi tên */
}
