.card-list {
    display: flex;
    text-align: center;
    padding-left: 0px;
}

.card-slide {
    display: flex;
    justify-content: center;/* Căn giữa theo chiều ngang */
    align-items: center;/* Căn giữa theo chiều dọc */
}

.card-heading :hover {
    color: red;
}

#card .card-box {
    justify-content: center;
    text-align: center;
    padding-left: 0px;
}

.card-heading {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    padding-bottom: 20px;
}

.card-heading span {
    color: #ffffff;
}
.card-box{
    flex-shrink: 0;
    width: 33.33%;
}


.card-wraper {
    display: flex;
    align-items: center;/* Căn giữa nội dung theo trục dọc */
    text-align: center;/* Căn văn bản giữa phần tử */
    flex-direction: column;/* Xếp nội dung theo chiều dọc */
    gap: 10px;/* Khoảng cách giữa các phần tử con */
}
.card-wraper .image {
    width: 100%;
}.card-wraper .content {
    text-align: center;
    /* Căn văn bản giữa phần tử .content */
}
.nextcard-button{
    display: none;
}
.previouscard-button{
    display: none;
}


@media screen and (max-width: 989px) {
    .card-list {
        display: flex;
        flex-direction: row;/* Hiển thị các thẻ từ trái qua phải */
        justify-content: space-between;
        transition: transform 0.5s;

    }
    .card-slide {
        overflow-x: auto;
        /* Tạo thanh cuộn ngang */
        overflow-y: auto;
    }
    
    .card-box {
        flex: 0 0 100%;/* Chia đều chiều rộng cho từng thẻ li */
        text-align: center;/* Căn giữa nội dung trong thẻ li */
        flex-shrink: 0;
    }
    
    .card-wraper .image {
       transition: transform 0s;/* Thêm hiệu ứng chuyển hình */
       width: 150%; 
       object-fit: cover;
    }
    .card-box .card-wraper{
        width: 100%;
    }
    .media{
        width: 100%; 
        text-align: center;
    }
    .image {
        max-width: 100%;
        height: auto;
    }
    .previouscard-button{
        left: 0px;
        display: block;
        background-color: transparent;
        border: 0;
    }
    .nextcard-button{
        display: block;
        right: 0;
        transform: rotate(180deg);
        background-color: transparent;
        border: 0;
    }
    .previouscard-button,
    .nextcard-button {
        position: absolute;
        top: 50%; /* Đặt ở giữa theo trục dọc */
        transform: translateY(-50%) rotate-(180deg);/* Để căn giữa theo trục dọc */
        cursor: pointer;
    }
}