.carousel1 {
   position: relative;
   z-index: 1;
   padding: 36px 75px;

   background: aquamarine;
}

.carousel1__slide-btn {
   position: absolute;
   top: 50%;
   z-index: 1;
   transform: translateY(-50%);

   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: calc(100% - 2*36px);
   cursor: pointer;
}

.carousel1__slide-btn:hover svg {
   fill: #fff;
}

.carousel1__slide-btn svg {
   height: 28px;
   fill: #e12727;
   transition: 0.2s ease-in-out;
}

.carousel1__slide-btn.prev {
   left: 20px;
}

.carousel1__slide-btn.next {
   right: 20px;
}

/* container */
.carousel1__container {
   display: flex;
   width: 100%;
   gap: 21px;
   padding: 0 16px;
   background: blue;
   overflow-x: scroll;

   transition: 0.2s ease-in-out;
}

.carousel1__container::-webkit-scrollbar {
   display: none;
}

.carousel1__item {
   flex-shrink: 0;
   width: 26%;
   color: #fff;
   margin: 5px 0;
}

.carousel1__item__image {
   position: relative;
   width: 100%;
   padding-top: 100%;
   overflow: hidden;
}

.carousel1__item__image:hover img{
   transform: scale(1.02);
}

.carousel1__item__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   display: block;
   transition: 0.4s ease-in-out;
}

.carousel1__item__information {
   padding: 17px 0;

   background: blueviolet;
}

.carousel1__item__information__title {
   display: block;
   font-size: 16px;
   font-weight: 700;
   line-height: 21px;
   text-transform: uppercase;

   margin-bottom: 7px;
   transition: 0.2s ease-in-out;
}

.carousel1__item__information__title:hover {
   color: #e12727;
   text-decoration: underline;
}

.carousel1__item__information__price {
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   text-transform: uppercase;

   margin-bottom: 7px;
}

.carousel1__item__information__rating {
   display: flex;
   align-items: center;

   background: #000;
}

.carousel1__item__information__rating__icon {
   display: flex;
   align-items: center;
}

.carousel1__item__information__rating__icon svg {
   fill: #fff;
   height: 16px;
   width: 16px;
}

.carousel1__item__information__rating__text {
   display: block;
   font-size: 14px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left: 8px;
   line-height: 25px;
}

/* tablet */
@media (max-width: 990px) {
   .carousel1 {
      padding: 36px 0;
   }
   
   .carousel1__item {
      width: 100%;
   }
}