.ContentBanner2{  
    background-color: #000;
    position: relative;
    overflow: hidden;
    width: 100%; 
    object-fit: cover;
    object-position: center;
}
.ContentBanner2-media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ContentBanner2-container{
    position: absolute;
    overflow: hidden;
    left: 70px;
    bottom: 70px;
}
.ContentBanner2-box {
    width: 60%;
}
.Banner-heading{
    color: #ffffff;
    font-size: 70px;
}
.Content-text{
    font-size: 16px;
}

.Banner-button button {
    display: inline-block; /* Hiển thị như inline-block để nằm cạnh nhau */
    margin-right: 30px;
}

.button:hover {
    background-color: #000000;/* Đặt màu nền khi đưa chuột vào */
    color: #ffffff;/* Màu chữ khi đưa chuột vào */
}

.Banner-button a {
    padding: 5px;
    background-color: red;
    display: inline-block;
    border: 1px solid red;
}
.Content-text,
.Banner-heading,
.font-heading {  
    text-align: left;   
}

@media  (max-width:990px) {
    .Banner-heading {
        font-size: 48px;
    }
    .ContentBanner2-container {
        position: absolute;
        overflow: hidden;
        left: 50px;
        bottom: 70px;      
    }
    .ContentBanner2-box {
         width: 80%;   
    }
}
@media (max-width:800px) {
    .Banner-heading {
        font-size: 48px;
    }

    .ContentBanner2-container {
        position: absolute;
        overflow: hidden;
        left: 50px;
        bottom: 50px;
    }
    .ContentBanner2-box {
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media (max-width:749px){
    .ContentBanner2-container .Content-text,
    .ContentBanner2-container .Banner-heading,
    .ContentBanner2-container .Banner-text,
    .ContentBanner2-container .Banner-button {
        display: none;
    }
    .ContentBanner2-media img{
        clip-path: inset(10% 0 10% 0)
    }
}