.form_inner_liner
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: right;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    text-align: center;
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}
.form_wrapper
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 0;
    font-style: unset;
    font-weight: normal;
    border: 0;
    display: flex;
    width: 50%;
    padding: 100px 0 0;
    flex-direction: column;
}
.form_liner
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}
.form_input_heading.small-heading
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'FenomenSans-Regular', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #1c1d1d;
    padding-bottom: 15px;
    max-width: 1200px;
}
.row.row1,
.row.row2,
.row.row3
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    display: flex;
    flex-flow: column nowrap;
}
.cell
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
label
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    text-align: left;
    width: 100%;
}
input
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    z-index: 1;
    padding: 0 15px;
    font-family: 'FenomenSans-Light', sans-serif;
    color: #a5a5a5;
    font-size: 16px;
    background: #f6f6f6;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    appearance: none;
    margin-bottom: 10px;
    outline: 0;
    box-shadow: inset 0 0 0 1px #f6f6f6;
    height: 45px;
    width: 100%;
}
textarea
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'FenomenSans-Light', sans-serif;
    color: #a5a5a5;
    font-size: 16px;
    background: #f6f6f6;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    appearance: none;
    margin-bottom: 10px;
    outline: 0;
    box-shadow: inset 0 0 0 1px #f6f6f6;
    resize: none;
    height: 95px;
    padding: 10px;
    line-height: normal;
    width: 100%;
}
.form_product_selection
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 0;
    font-style: unset;
    font-weight: normal;
    width: 100%;
    float: none;
    padding: 0 0 10px;
    box-shadow: none;
}
.form_product_list_container
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    margin: auto;
    width: 90%;
}
div.form_product_list
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    font-style: unset;
    font-weight: normal;
    background-color: transparent;
    box-sizing: border-box;
    margin: auto;
    max-width: unset;
    max-height: unset;
    height: auto;
    overflow: hidden;
    box-shadow: none;
    padding: 0;
    width: 100%;
}
#panel4CRFCategoryName5.panel_4_crf_category_name
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-style: unset;
    font-weight: normal;
    text-align: left;
    font-family: 'FenomenSans-Regular', sans-serif;
    font-size: 16px;
    color: #1c1d1d;
    padding: 10px 0 5px;
    padding-top: 0 !important;
}
#panel4CRFProductName1.panel_4_crf_category_name
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-style: unset;
    font-weight: normal;
    text-align: left;
    font-family: 'FenomenSans-Regular', sans-serif;
    font-size: 16px;
    color: #1c1d1d;
    padding: 10px 0 5px;
}
#panel4CRFProductName8.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName1.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName2.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName9.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName10.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName18.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName19.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName24.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName25.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName26.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName27.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName28.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName29.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName3.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName4.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName11.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName17.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName20.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName21.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName22.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName23.panel_4_crf_product_name.panel_4_crf_product_name_off,
#panel4CRFProductName5.panel_4_crf_product_name.panel_4_crf_product_name_off
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-style: unset;
    font-weight: normal;
    position: relative;
    padding: 0 0 8px 25px;
    text-align: left;
    line-height: 20px;
    font-family: 'FenomenSans-Light', sans-serif;
    font-size: 16px;
    color: #1c1d1d;
    cursor: pointer;
}
#panel4CRFCategoryName2.panel_4_crf_category_name
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-style: unset;
    font-weight: normal;
    text-align: left;
    font-family: 'FenomenSans-Regular', sans-serif;
    font-size: 16px;
    color: #1c1d1d;
    padding: 10px 0 5px;
}
.bottom_row_container
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    width: 100%;
}
.bottom_row
{
    float: left;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-style: unset;
    font-weight: normal;
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0 20px;
    width: 90%;
}
.crfsubmit
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    width: 100%;
    margin: auto;
    max-width: 400px;
}
#panel4CRFSubmit.panel_4_crf_submit.panel_4_crf_submit_off
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    color: #000;
    border-radius: 0;
    line-height: 50px;
    height: 50px;
    font-family: 'FenomenSans-Bold';
    font-size: 13px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    display: block;
    cursor: pointer;
    background: #d51211;
    border: 2px solid #d51211;
    width: 50%;
    min-width: calc(300px - 10%);
    margin: auto;
}
.pro_footer_forms.mobile
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    position: relative;
    text-decoration: none;
    font-family: 'FenomenSans-Light', sans-serif;
    text-transform: uppercase;
    color: #1c1d1d;
    font-size: 10px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin: 20px auto;
    display: block;
}
span
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'FenomenSans-Light', sans-serif;
    text-transform: uppercase;
    color: #1c1d1d;
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
}
a.new_footer,a.privacy_footer
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'FenomenSans-Light', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #d51211;
    text-decoration: none;
}



