.Kreset__password{
    text-align: center;
}
.Kreset__password__Header{
    font-size:40px; padding-top: 50px;
}
.Kreset__password__Header__p{
    font-size:15px;
}
.Kreset__password__form{
    padding-top:20px;width: 75%;padding-left: 30%;border-radius:0 ;
}
.form-floating mb-3{
    color:black;
}
.Kreset__password__form__divbutton{
    padding-top: 30px;padding-bottom: 10px;padding-right: 10px;margin-right: 30px;
}
.Kreset__password__form__divbutton__button{
    color: white;background-color: red;width:25%;height:50px;border-color: red
}
.Kreset__password__form__cancel{
    color: white;margin-right: 50px; 
    text-decoration: underline;
}