.header {
   position: fixed;
   /* height: 104px; */
   width: 100%;
   background: #000;
   z-index: 1;
}

.header-container {
   display: flex;
   align-items: center;
   justify-content: center;

   max-width: 1600px;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 0 20px;

   --logo-space: 200px;
   /* gap: var(--logo-space); */
   gap: 12px;

   background: aquamarine;
}

.navbar {
   display: flex;
   flex-wrap: nowrap;
   background: blueviolet;
   width: 50%;

   /* flex: 1; */
   height: 100%;
   padding: 0;
}

.nav-item {
   display: flex;
   flex-wrap: nowrap;
   height: 100%;
   padding: 40px 6px;

   line-height: 24px;
   letter-spacing: -1px;
   white-space: wrap;
   color: #fff;
}

.sub-menu-trigger {
   cursor: pointer;
}

.sub-menu-trigger:hover .sub-menu {
   opacity: 1;
   top: 104px;
}

.nav-item-link {
   text-decoration: none;
   color: inherit;

   font-size: 16px;
   font-weight: 800;
   text-transform: uppercase;
   font-family: 'Fenomen-Sans-SemiBold', sans-serif;
   line-height: 24px;
   user-select: none;
}

.nav-item-link:hover {
   color: #e12727;
   text-decoration: underline;
   transition: 0.2s ease-in-out;
}

.logo {
   position: relative;
   display: flex;
   justify-content: center;

   /* width: var(--logo-space); */
   width: 150px;
   flex-shrink: 0;
   background: #ccc;
}

.logo-img {
   position: absolute;
   top: 23px;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;

   display: block;
   width: 150px;
   height: 150px;
   /* opacity: 0; */

   object-fit: cover;
   object-position: center;
}

.icons-wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;

   margin-top: -5px;
   margin-left: -7%;
   padding: 0 4px;
}

.icon {
   user-select: none;
}

.icon.bar-icon {
   display: none;
}

.icon.bar-icon .menu-icon-svg {
   height: 28px;
}

.menu-icon-svg {
   height: 20px;
   cursor: pointer;
}

.menu-icon-svg path {
   fill: #fff;
}

/* sub menu */
.sub-menu {
   position: fixed;
   top: 104px;
   left: 0;
   width: 100%;
   padding: 60px 0;
   
   transform: translateY(-101%);
   opacity: 0;
   display: none;

   /* show */
   /* opacity: 1;
   display: block;
   transform: translateY(0); */

   transition: 0.5s ease-in-out;
   background-color: burlywood;
}

.sub-menu-container {
   width: 100%;
   margin: 0 auto;
   padding: 0 50px;

   display: flex;
   justify-content: center;
   background: blueviolet;
}

.sub-menu-item {
   width: 25%;
   padding: 0 15px;;
   background-color: cadetblue;
}

.sub-menu-item-thumbnail {
   position: relative;
   width: 100%;
   padding-top: 100%;
}

.sub-menu-item-thumbnail img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: center;
}

.sub-menu-item-link {
   display: block;
   padding: 20px 0px 6px;
   border-bottom: 1px solid #fff;

   font-size: 20px;
   font-weight: 800;
   line-height: 25px;
   font-family: 'Fenomen-Sans-SemiBold', sans-serif;
   text-transform: uppercase;
   text-decoration: none;
   color: #fff;
   transition: 0.2s ease-in-out;
}

.sub-menu-item-link:hover {
   color: #e12727;
}

.sub-menu-item-content {
   padding-top: 13px;
}

.sub-menu-item-content-item {
   display: block;
   width: 100%;
   margin: 0 48px 0 0;

   font-size: 16px;
   font-family: 'Fenomen-Sans-SemiBold', sans-serif;
   line-height: 27px;
   color: #fff;
   text-decoration: none;

   transition: 0.2s ease-in-out;
   background: green;
   cursor: pointer;
}

.sub-menu-item-content-item:hover {
   color: #e12727;
   text-decoration: underline;
}

/* Cart Modal */
.cart-modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;

   display: none;
   opacity: 0;
   transition: 0.5s ease-in-out;

   
   background: rgba(255, 255, 255, 0.7);
}

.cart-modal__container {
   position: absolute;
   top: 0;
   right: 0;
   width: 38%;
   height: 100%;
   transform: translateX(101%);
   opacity: 0;

   display: flex;
   flex-direction: column;

   color: #fff;
   background: #000;
   transition: 0.3s ease-in-out;
}

.cart-modal__close-btn {
   position: absolute;
   top: 10px;
   right: 20px;
   color: #fff;
   cursor: pointer;
}

.cart-modal__close-btn svg {
   fill: #fff;
   height: 18px;
}

.cart-modal__title {
   padding: 10px 20px 5px;
   
   font-size: 25px;
   text-align: center;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 36px;

   background: blueviolet;
}

.cart-modal__announcemen {
   padding: 5px 20px;
   border-radius: 4px;
   text-align: center;

   font-size: 11px;
   font-weight: 800;
   line-height: 20px;
   letter-spacing: 0.1em;

   color: #000;
   background: #fff;
}

.cart-modal__progress-bar-wapper {
   background: #201E1D;
   border-color: #464242;
   padding: 15px 20px;
   text-align: center;
}

.cart-modal__progress-bar-meter {
   margin: 8px 0 0;
   border-radius: 10px;
   background: #898e8e;
   width: 100%;
   height: 10px;
}

.cart-modal__progress-label {
   margin-top: 10px;
   text-align: center;

   font-size: 14px;
   font-weight: 500;
   font-family: 'DM Sans', sans-serif;
}

.cart-modal__empty-card {
   padding: 40px 20px;
   text-align: center;
}

.cart-modal__empty-card h4 {
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   margin: 0;
}

.cart-modal__empty-card p {
   font-size: 15px;
   font-weight: 500;
   letter-spacing: 0.05em;
   line-height: 20px;
   margin: 2px 0 15px;
}

.cart-modal__empty-card button {
   width: 100%;
   padding: 10px 15px;
   margin: 0 0 15px;
   border: 2px solid #e12727;
   
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;

   background: #e12727;
   color: #fff;
   outline: none;
   
   transition: 0.2s ease-in-out;
}

.cart-modal__empty-card button:hover {
   background: none;
}

.cart-modal__recommend {
   flex: 1;
   padding: 20px;
   text-align: center;
   border-top: 1px solid #fff;

   background: #201E1D;
}

.cart-modal__recommend h4 {
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   margin: 0;
}

.cart-modal__product-wrapper {
   /* background: aquamarine; */

   display: flex;
   flex-direction: column;
}

.cart-modal__product-item {
   /* background: blueviolet; */

   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 20px;
   margin-block-start: 20px;
   border: 1px solid #5C5957;
   border-radius: 0px;
}

.cart-modal__product-item img {
   height: 90px;
   width: 90px;
   
   object-fit: contain;
   object-position: center;
}

.cart-modal__product-item .info {
   display: flex;
   flex-direction: column;
   text-align: left;
   width: 100%;
   padding: 0 20px;
}

.cart-modal__product-item .info a {
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.05em;
}

.cart-modal__product-item .info span {
   display: block;
   font-size: 12px;
   font-weight: 500;
   margin-top: 6px;
}

.cart-modal__product-item button {
   width: 60px;
   padding: 5px;
   border: 2px solid #e12727;
   
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;

   background: #e12727;
   color: #fff;
   outline: none;

   transition: 0.2s ease-in-out;
}

.cart-modal__product-item button:hover {
   background: none;
}

/* PC */
@media (max-width: 1200px) {
   .logo {
      width: 155px;
   }
}

/* tablet */
@media (max-width: 990px) {
   .header-container {
      justify-content: space-between;
      padding: 13px 24px;
   }

   .navbar {
      width: auto;
   }

   .nav-item {
      display: none;
   }

   .logo {
      position: absolute;
      top: 13px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
   }

   .logo-img {
      width: 106px;
      height: 106px;
   }

   .icons-wrap {
      margin: 0
   }

   .icon.bar-icon {
      display: block;
   }
   
   .icon.user-icon {
      display: none;
   }
}