

.icons_container
{
   display: flex;
   overflow: hidden;
   padding: 36px 50px;
   gap: 21px;
   background-color: #201e1d;
}

.icons_box-picture
{
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   width: calc(100% / 3);
   /* max-height: 238px; */
}

.icons_picture
{
   display: flex;
   justify-content: center;
   width: 100%;
}

.icons_picture img {
   display: block;
   width: 32%;
   height: 100%;

   object-fit: cover;
   object-position: center;
}

.icons_inline-richtext
{
   display: block;
   padding: 25px 15px;
   margin: 0;
   
   font-size: 22px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   line-height: 33px;
}

@media (max-width:991px)
{
   .icons_container {
      flex-direction: column;
   }

   .icons_box-picture
   {
      width: 100%;
   }
}
@media (max-width:751px)
{
   .icons_inline-richtext
   {
      font-size: 18px;
   }
}