.JohnFollowing {
    color: #ffffff;
}
.JoinFollowing-container{
    padding: 80px;
}
.Join-heading {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    word-break: break-word;
}

.JohnFollowing .heading {
    word-break: break-word;
    color: #e12727;
    text-align: center;
    font-size: 20px;
}

.glider-container .list {
    display: flex;/* Hiển thị các phần tử li nằm ngang */
    justify-content: space-between;/* Canh lề giữa các phần tử li */
    list-style: none;/* Loại bỏ dấu đầu dòng cho danh sách */
}

.join-list {
    flex: 1;/* Các phần tử li chiếm phần bằng nhau của không gian ngang */
}

/* Đảm bảo hình ảnh trong phần tử li có kích thước 100% */
.slide {
    width: 100%;
    margin-right: 10px; /* Điều chỉnh khoảng cách giữa các slide */

}
.slide:last-child {
  margin: 0;
}

/* Đảm bảo hình ảnh có kích thước 100% và tỷ lệ khung hình không bị biến đổi */
.image img {
    width: 100%;
    height: auto;
}

.glider-container {
    display: flex;
    justify-content: space-between;/* Canh giữa theo chiều ngang */
    align-items: center;/* Canh giữa theo chiều dọc */
}

.button-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sliderprev-button,
.Slidernext-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}
.Slidernext-button {
    display: none;
}
.Sliderprevous-button {
    display: none;
}
@media screen and (max-width: 749px) {
    .glider-container {
        display: flex;
        overflow: hidden;
    }
    .slide {
        flex: 0 0 100%;/* Mỗi slide chiếm 100% chiều rộng */  
    }
    .image{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .Sliderprevous-button {
        
        display: block;
        float: left;
        margin-top: -300px;
        margin-left: 20px;
        background-color: transparent;
        border: 0px;
    }

    .Slidernext-button {
        display: block;
        float: right;
        margin-top: -305px;
        transform: rotate(180deg);
        background-color: transparent;
        border: 0px;
    }
}

@media (max-width: 550px) {
    .Sliderprevous-button {
        margin-top: -290px;
        margin-left: 30px;
    }

    .Slidernext-button {
        margin-top: -295px;
        margin-right: 25px;
    }
}

@media (max-width: 500px) {
    .Sliderprevous-button {
        margin-top: -270px;
    }

    .Slidernext-button {
        margin-top: -275px;
    }
}

@media (max-width: 450px) {
    .Sliderprevous-button {
        margin-top: -230px;
    }

    .Slidernext-button {
        margin-top: -235px;
    }
}

@media (max-width: 350px) {
    .Sliderprevous-button {
        margin-top: -160px;
    }

    .Slidernext-button {
        margin-top: -165px;
    }
}

@media (max-width: 299px) {
    .Sliderprevous-button {
        margin-top: -120px;
    }

    .Slidernext-button {
        margin-top: -125px;
    }
}