* {
   margin: 0;
   box-sizing: border-box;
}
.Products_Section-template {
   width: 100%;
   padding: 12px 0px 20px;
   background-color: aqua;
}
.Products_Main-collection,
.Products_Collection-page-width {
   padding: 0px 50px;
   color: white;
}
.twcss-font-fenomen-Homepage:hover {
   color: red;
   text-decoration: underline;
}
.Products_Collection-page-width {
   padding: 0px 50px;
}
.Products_Breadcrumb {
   padding: 32px 0px;
   font-size: 14px;
}
.Products_Faces-container {
   font-size: 16px;
   padding: 10px 0px 0px;
   height: 89px;
   display: grid;
   gap: 0 3.5rem;
   grid-template-columns: 1fr max-content max-content;
   margin-bottom: 0.5rem;
   font-family: Fenomen-Sans-Light;
}
.Products_FacesWrapperDestop {
   display: flex;
   font-size: 16px;
   width: 100%;
   height: 39px;
}
.Products_Details-1-template {
   font-size: 16px;
   margin: 0px 16px 0px 0px;
}
.Products_Faces-Sumary-Caption {
   font-size: 14px;
   margin: 0px 0px 15px;
   padding: 0px 17.5px 0px 0px;
}
.twcss-text-body-16.twcss-font-fenomen:hover {
   color: white;
   text-decoration: underline;
}
.twcss-text-body-16.twcss-font-fenomen {
   font-size: 16px;
   color: #ccc;
}
.twcss-text-body-14.twcss-font-fenomen {
   font-size: 14px;
   margin: 0px 20px 0px 0px;
}
.Products_Faces-1-template-grid {
   width: 350px;
   height: 292.6px;
   background-color: #000;
   color: white;
   font-size: 14px;
   font-weight: 400;
}
.Products_Faces-1-template-grid-header {
   display: flex;
   padding: 15px 20px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   justify-content: space-between;
}
.Products_facets-reset-link-underlined-link {
   color: rgba(255, 255, 255, 0.85);
   text-decoration: underline;
}
.Products_facets-reset-link-underlined-link:hover {
   color: rgba(255, 255, 255);
   text-decoration-thickness: 0.2rem;
}
.Products_facest-wrap-parent-wrap {
}
.Products_facest-list-list-hidden {
   font-family: "DM Sans", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   padding: 5px 20px;
   tab-size: 4;
   margin: 0;
   list-style-position: outside;
   list-style-type: none;
   list-style-image: none;
   letter-spacing: 0.6px;
   line-height: 24px;
}
.Products_facest-filter-sorting {
   font-size: 12px;
   padding: 0 0 0 30px;
   height: 39px;
}
.Products_faces-filters-field {
   display: flex;
}
.Products_facet-filters__label {
   font-size: 14px;
   padding: 0px 20px 0px 0px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.85);
}
.facet-filters__sort.select__select.caption-large.twcss-text-body-16.twcss-font-fenomen {
   color: #ccc;
   text-decoration: none;
   background-color: #000;
}
.select {
   padding: 0 17.5px 0 0;
}
.product-count {
   width: 91.6px;
   height: 24.8px;
   text-align: center;
   position: relative;
}
.product-count__text.text-body {
   margin: 0;
   position: absolute;
   bottom: 12px;
   width: 100%;
   height: 100%;
}
#ProductCountDesktop.twcss-font-fenomen.twcss-capitalize {
   font-size: 16px;
   color: white;
}
.pagination-wrapper {
   margin-top: 40px;
}
.Products__pagination-list.list-unstyled-twcss-items-center {
   display: flex;
   width: 100%;
   justify-content: center;
   letter-spacing: 0.6px;
   line-height: 24px;
   list-style-image: none;
   list-style-position: outside;
   list-style-type: none;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
}
.icon.icon-caret {
   margin-right: -0.2rem;
   width: 10px;
   height: 21px;
}
.Product__icon.icon-caret {
   margin-right: -0.2rem;
   width: 10px;
   height: 21px;
   transform: rotate(-90deg);
}
