.Slideshow {
    display: flex;
}

.Slideshow-slide {
    padding-top: 30px;
    
}
/* CSS để tạo hiệu ứng từ phải qua trái */
.Slideshow-banner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Slideshow-text-banner {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* Đặt chiều rộng tùy ý (ví dụ 50%) */
    height: 300px;
}

.Slide-heading {
    letter-spacing: 0.2px;
}


.Slideshow .Slide-heading {
    font-size: 40px;
    font-family: fantasy;
}

.Slideshow text {
    font-size: 18px;
    font-family: inherit;
}

.banner-richtext {
    font-size: 16px;
    font-family: fantasy;
}

.slideshow-container {
    width: 100%;
    background-color: #201e1d;
    transition: transform 0.5s ease-in-out;
}

.Slideshow-text-wapper {
    padding-top: 30px;
    max-width: 100%;
    /* Đảm bảo rằng nội dung không bị tràn ra ngoài container cha */
    text-align: center;
    color: #fff;
}

/* Thêm CSS cho nút điều khiển */
#prevButton,
#nextButton,
#playButton {
    margin-top: 10px;
    cursor: pointer;
}

.slideshow-control {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;

}

.slider-couter {
    display: flex;
    align-items: center;

    width: 34px;
    height: 34px;
    justify-content: center;
    min-width: 4.4rem;
}

#prevButton {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

#nextButton {
    transform: rotate(270deg);
    width: 30px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

#playButton {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 30px;
    height: 30px;

}

.Slideshow__icon-icon-caret {
    width: 10px;
    position: relative;
}

.Slideshow__icon-icon-caret.slideshow__left-icon {
    right: 3px;
}

.Slideshow__icon-icon-caret.slideshow__right-icon {
    left: 3px;
}

.slideshow__control-icon--pause,
.slideshow__control-icon--play {
    width: 10px;
    padding-top: 4px;
    text-align: center;
    justify-content: center;
    position: absolute;
    /* Đặt vị trí tuyệt đối cho cả hai biểu tượng */

}

.slideshow__control-icon--pause {
    display: none;
}

.slider-curren {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30px;

}

.Slideshow svg {
    width: 12px;
    height: 12px;
}

.Slideshow-slide.active {
    display: block;
}

@media screen and (max-width: 750px) {

    /* Để đảm bảo chỉ hiển thị một slide tại một thời điểm */
    .Slideshow-slide {
        max-width: 100%;
        /* Kích thước Slideshow thay đổi tùy thích theo chiều rộng của container */

    }

    /* CSS để tạo hiệu ứng từ phải qua trái */
    .Slideshow-banner {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
        /* Tạo hiệu ứng trượt mượt */
    }

    .Slideshow-text-banner {
        width: 100%;
        height: auto;
    }

    .Slideshow .Slide-heading {
        font-size: 46px;
    }

    .Slideshow text {
        font-size: 16px;
    }

    .banner-richtext {
        font-size: 16px;
    }

    .slideshow-container {
        width: 100%;
        height: 300px;
        background-color: #201e1d;
    }

    .Slideshow-text-wapper {
        max-width: 100%;
        /* Đảm bảo rằng nội dung không bị tràn ra ngoài container cha */
        text-align: center;
        color: #fff;
    }

    /* Thêm CSS cho nút điều khiển */
    #prevButton,
    #nextButton,
    #playButton {
        margin-top: 10px;
        cursor: pointer;
    }
}