.TiktokCard__boxContainer {
   padding: 32px 16px;
   background-color: #000;
   color: #fff;
}
.TiktokCard__button-group-btns-container {
   display: flex;
   justify-content: center;
   letter-spacing: 0.6px;
   line-height: 24px;
   margin-left: 0px;
   margin-right: 0px;
   max-width: 1440px;
   gap: 16px;
   tab-size: 4;
}
.TiktokCard__button-group-btn.TiktokCard__button.TiktokCard__filter-button-style.TiktokCard__twcss-px-0.TiktokCard__twcss-text-center {
   display: inline-flex;
   padding: 12px 0px 14px;
   border: solid 0.8px rgb(92, 89, 87);
   font-weight: 600;
   line-height: 0.93;
   letter-spacing: 0.56px;
   text-transform: uppercase;
   font-size: 14px;
   font-family: Fenomen-Sans-SemiBold;
   font-weight: 600;
   width: calc(100% / 6);
   justify-content: center;
   text-align: center;
   min-height: auto;
   align-items: center;
}
@media (max-width: 751px) {
   .TiktokCard__button-group-btns-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
   }
   .TiktokCard__button-group-btn.TiktokCard__button.TiktokCard__filter-button-style.TiktokCard__twcss-px-0.TiktokCard__twcss-text-center {
      width: 100%;
   }
}
.TiktokCard__button.TiktokCard__filter-button-style:hover {
   background-color: #e12727;
   border: 1.5px solid #5c5957;
   color: #fff;
   text-decoration: none;
}
