.Timeline {
    width: 100%; /* Điều chỉnh chiều rộng của container  */
   height: 100%;  
   /* Điều chỉnh chiều cao của container  */
   overflow: auto;  
   /* Hiển thị thanh cuộn khi cần  */
   border: 1px solid #201e1d;
     /* Để thấy rõ khu vực chứa và thanh cuộn  */
   background-color: #201e1d;
   color:white;
 }
  
  .KTimeline{
   display: flex;
   flex-wrap: nowrap;  
   /* Ngăn các phần tử con xuống dòng  */
   overflow-x: scroll;  
 }
 
  .KTimeline_Main9 {
   min-width: 450px;  
   /* Điều chỉnh độ rộng tối thiểu của mỗi phần tử con  */
   min-height: 100px;  
   /* Điều chỉnh chiều cao tối thiểu của mỗi phần tử con  */
   margin: 5px;
   /* padding-right: 21px;
    border: 1px solid #ddd;  */
   text-align: center;
 } 

  .KTimeline_Main9_text{
   padding-left: 20px;
   padding-right: 20px;
 }
 .KTimeline_Main9_text_text_9{
   padding-left: 20px;
   padding-right: 20px;
 } 
 