@{
    ViewData["Title"] = "About Page";
}


<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="../../components/ContentBanner4.cshtml" />
<partial name="../../components/BigTitle2.cshtml" />
<partial name="../../components/SplitContent1.cshtml" />
<partial name="../../components/TimeLine.cshtml" />
