* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@font-face {
  font-family: 'Fenomen-Sans-Light';
  src: url('~/fonts/Fenomen-Sans-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Fenomen-Sans-Book';
  src: url('~/fonts/Fenomen-Sans-Book.woff') format('opentype');
}
@font-face {
  font-family: 'Fa-Light-300';
  src: url('~/fonts/fa-light-300.woff2') format('opentype');
}
@font-face {
  font-family: 'Fenomen-Sans-Bold';
  src: url('~/fonts/Fenomen-Sans-Bold.woff2') format('opentype');
}
@font-face {
  font-family: 'Fenomen-Sans-Book';
  src: url('~/fonts/Fenomen-Sans-Book.woff2') format('opentype');
}
@font-face {
  font-family: 'Revans-Bold';
  src: url('~/fonts/Revans-Bold.woff2') format('opentype');
}

