@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@Html.Partial("../../components/ProductDetail.cshtml")

@Html.Partial("../../components/Review.cshtml")
@Html.Partial("../../components/SearchResult.cshtml")
@Html.Partial("../../components/Bolt.cshtml")